
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    <script src="~/Materials/UTMS/js/jquery-1.9.1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">
    $(function () {

        $("#ddlRegions").change(function () {
            var selectedRegion = $("#ddlRegions :selected").val();
            var selectedAgency = $('input[name=agency]:checked').val();
            Draw(selectedAgency, selectedRegion);
        })

        $.ajax({
            type: "Get",
            url: "/UTMS/BorsaGraphics/selectAllRegion",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#ddlRegions").html("");
                for (var i = 0, count = result.length; i < result.length; i++) {
                    $("#ddlRegions").append("<option value=" + result[i].RegionId + ">" + result[i].RegionName + "</option>")
                }
                var FirstRegion = $("#ddlRegions option:first").val();
                Draw(1, FirstRegion);
            },
            error: function (e) {
                alert("Error : " + e);
            }
        });



        $("input[name=agency]").change(function () {
            var selectedAgency = $('input[name=agency]:checked').val();
            var selectedRegion = $("#ddlRegions :selected").val();
            Draw(selectedAgency, selectedRegion);
        });




    });
    function Draw(Agency, Region) {
        $.ajax({
            type: "Post",
            url: "/UTMS/BorsaGraphics/CreditRatings",
            data: "{agency:" + Agency + "  , regionId:" + Region + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var ArrayCountryNames = [];
                var ArrayValue = [];
                var ArrayExcpectation = [];
                console.log(result.length);
                for (var i = 0; i < result.length; i++) {
                    ArrayCountryNames.push(result[i].country);
                    ArrayValue.push(result[i].value);
                    ArrayExcpectation.push(result[i].excepctation)
                }
                $('#ChartContainer').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'التصنيف الإئتماني'
                    },

                    credits: {
                        position: {
                            align: 'left',
                            x: 75,

                        },
                        text: 'Borsa Capital',
                        href: 'http://test.borsacapital.com'
                    },
                    xAxis: {
                        lineWidth: 0,
                        minorGridLineWidth: 0,
                        lineColor: 'transparent',
                        minorTickLength: 0,
                        tickLength: 0,

                        categories: ArrayCountryNames,
                        labels: {
                            formatter: function () {
                                return this.value.substring(0, this.value.indexOf(','));
                            },
                            enabled: true,
                            rotation: -45,
                            style: {
                                fontSize: '15px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        gridLineWidth: 0,
                        minorGridLineWidth: 0,
                        min: 0,
                        title: {
                            text: 'التصنيف'
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return this.series.name + ' ' + this.x.substring(this.x.indexOf(',') + 1, this.x.length)
                        }
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    if (Agency == 1) {
                                        switch (this.point.y) { //S&P
                                            case 200: return 'AAA';
                                            case 190: return 'AA+';
                                            case 180: return 'AA';
                                            case 170: return 'AA-';
                                            case 160: return 'A+';
                                            case 150: return 'A';
                                            case 140: return 'A-';
                                            case 130: return 'BBB+';
                                            case 120: return 'BBB';
                                            case 110: return 'BBB-';
                                            case 100: return 'BB+';
                                            case 90: return 'BB';
                                            case 80: return 'BB-';
                                            case 70: return 'B+';
                                            case 60: return 'B';
                                            case 50: return 'B-';
                                            case 40: return 'CCC';
                                            case 30: return 'DDD';
                                            case 20: return 'DD';
                                            case 10: return 'D';
                                            default: break;
                                        }
                                    } else if (Agency == 2) { //Fitch
                                        switch (this.point.y) {
                                            case 200: return 'AAA';
                                            case 190: return 'AA+';
                                            case 180: return 'AA';
                                            case 170: return 'AA-';
                                            case 160: return 'A+';
                                            case 150: return 'A';
                                            case 140: return 'A-';
                                            case 130: return 'BBB+';
                                            case 120: return 'BBB';
                                            case 110: return 'BBB-';
                                            case 100: return 'BB+';
                                            case 90: return 'BB';
                                            case 80: return 'BB-';
                                            case 70: return 'B+';
                                            case 60: return 'B';
                                            case 50: return 'B-';
                                            case 40: return 'CCC+';
                                            case 30: return 'CCC';
                                            case 20: return 'CCC-';
                                            case 10: return 'D';
                                            default: break;
                                        }
                                    } else { //Moody’s
                                        switch (this.point.y) {
                                            case 200: return 'Aaa';
                                            case 190: return 'Aa1';
                                            case 180: return 'Aa2';
                                            case 170: return 'Aa3';
                                            case 160: return 'A1';
                                            case 150: return 'A2';
                                            case 140: return 'A3';
                                            case 130: return 'Baa1';
                                            case 120: return 'Baa2';
                                            case 110: return 'Baa3';
                                            case 100: return 'Ba1';
                                            case 90: return 'Ba2';
                                            case 80: return 'Ba3';
                                            case 70: return 'B1';
                                            case 60: return 'B2';
                                            case 50: return 'B3';
                                            case 40: return 'Caa1';
                                            case 30: return 'Caa2';
                                            case 20: return 'Caa3';
                                            case 10: return 'C';
                                            default: break;
                                        }
                                    }


                                },
                                y: 5,// 5 pixels down from the top
                            }
                        }


                    },
                    exporting: { enabled: false },
                    series: [{
                        name: 'التصنيف',
                        data: ArrayValue

                    }]
                }

                );
            },
            error: function (xhr, status, error) {
                alert('يوجد خطأ : ' + error);
            }
        });
    }
    </script>
</head>
<body>
    <select id="ddlRegions">
       
    </select>

    <input type="radio" name="agency" value="1" checked>S&P
    <input type="radio" name="agency" value="2">Fitch
    <input type="radio" name="agency" value="3">Moody’s

    <div id="ChartContainer" style="height: 650px;"></div>
    
</body>
</html>
