@*<div class="BottomWrapper">
    <div class="Bottom">
        <div class="row">
            <div class="large-12 columns">
                <div class="large-3 columns">
                    <ul>
                        <li><h2>بورصة كابيتال</h2></li>
                        <li><a href="#">كلمة بورصة كابيتال</a></li>
                        <li><a href="#">نبذة عن المملكة العربية السعودية</a></li>
                        <li><a href="#">نبذة عنا</a></li>
                        <li><a href="#">شركائنا</a></li>
                        <li><a href="#">من أقوال الحكماء</a></li>
                        <li><a href="#">رأيك يهمنا</a></li>
                        <li><a href="#">وظائف شاغرة</a></li>
                        <li><a href="#">اتصل بنا</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <ul>
                        <li><h2>خدماتنا</h2></li>
                        <li><a href="#">هرم الخدمات</a></li>
                        <li><a href="#">UTMs</a></li>
                        <li><a href="#">تحميل</a></li>
                        <li><a href="#">نصائح استثمارية</a></li>
                        <li><a href="#">بكسلها معانا</a></li>
                        <li><a href="#">مستخدم جديد</a></li>
                        <li><a href="#">تسجيل دخول</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <ul>
                        <li><h2>تعــليم</h2></li>
                        <li><a href="#">المكتبة</a></li>
                        <li><a href="#">الامتحانات</a></li>
                        <li><a href="#">المصطلحات</a></li>
                        <li><a href="#">أسئلة متكررة</a></li>
                        <li><a href="#">فيديوهات تعليمية</a></li>
                        <li><a href="#">العاب تعليمية</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <ul>
                        <li><h2>تـــرفية</h2></li>
                        <li><a href="#">كاريكاتور</a></li>
                        <li><a href="#">العاب ترفيهية</a></li>
                        <li><a href="#">موسيقى</a></li>
                        <li><a href="#">فيديوهات</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>*@

<div class="copyRight">2015 © جميع الحقوق محفوظة لبورصة كابيتال</div>