@using System.Web.Optimization

<!doctype html>
<html ng-app="MyApp" dir="rtl" lang="ar">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" />
    @Styles.Render("/bundles/BCGame/GameStyle")
    @Scripts.Render("/bundles/BCGame/script")
</head>
<body ng-controller="HomeController">

    <!-- Start Header-->
    @{Html.RenderPartial("_HeaderPartial");}
    <!--End Header-->

    <div class="row">
        <!--START CONTENT-->
        @RenderBody()
        <!--END CONTENT-->
    </div>

    <!-- Start Footer-->
    @{Html.RenderPartial("_FooterPartial");}
    <!--End Footer-->

    <script>
            $(document).foundation();
    </script>

</body>
</html>

