@{
    ViewBag.Title = "Index";
    Layout = null;
}


  <!-- Add jQuery library -->
<script src="~/Materials/UTMS/LightBox/lib/jquery.min.js"></script>
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="~/Materials/UTMS/LightBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="~/Materials/UTMS/LightBox/source/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="~/Materials/UTMS/LightBox/source/jquery.fancybox.css" media="screen" />
<!-- Add Button helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="~/Materials/UTMS/LightBox/source/helpers/jquery.fancybox-buttons.css?v=2.0.4" />
<script type="text/javascript" src="~/Materials/UTMS/LightBox/source/helpers/jquery.fancybox-buttons.js?v=2.0.4"></script>
<!-- Add Thumbnail helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="~/Materials/UTMS/LightBox/source/helpers/jquery.fancybox-thumbs.css?v=2.0.4" />
<script type="text/javascript" src="~/Materials/UTMS/LightBox/source/helpers/jquery.fancybox-thumbs.js?v=2.0.4"></script>
<script src="~/Materials/UTMS/js/highstock.js"></script>
<script src="~/Materials/UTMS/js/highStock-Theme.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /*
            Simple image gallery. Uses default settings
        */

        $('.fancybox').fancybox();

        /*
            Different effects
        */

        // Change title type, overlay opening speed and opacity
        $(".fancybox-effects-a").fancybox({
            helpers: {
                title: {
                    type: 'outside'
                },
                overlay: {
                    speedIn: 500,
                    opacity: 0.95
                }
            }
        });

        // Disable opening and closing animations, change title type
        $(".fancybox-effects-b").fancybox({
            openEffect: 'none',
            closeEffect: 'none',

            helpers: {
                title: {
                    type: 'over'
                }
            }
        });

        // Set custom style, close if clicked, change title type and overlay color
        $(".fancybox-effects-c").fancybox({
            wrapCSS: 'fancybox-custom',
            closeClick: true,

            helpers: {
                title: {
                    type: 'inside'
                },
                overlay: {
                    css: {
                        'background-color': '#eee'
                    }
                }
            }
        });

        // Remove padding, set opening and closing animations, close if clicked and disable overlay
        $(".fancybox-effects-d").fancybox({
            padding: 0,

            openEffect: 'elastic',
            openSpeed: 150,

            closeEffect: 'elastic',
            closeSpeed: 150,

            closeClick: true,

            helpers: {
                overlay: null
            }
        });

        /*
            Button helper. Disable animations, hide close button, change title type and content
        */

        $('.fancybox-buttons').fancybox({
            openEffect: 'none',
            closeEffect: 'none',

            prevEffect: 'none',
            nextEffect: 'none',

            closeBtn: false,

            helpers: {
                title: {
                    type: 'inside'
                },
                buttons: {}
            },

            afterLoad: function () {
                this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
            }
        });


        /*
            Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
        */

        $('.fancybox-thumbs').fancybox({
            prevEffect: 'none',
            nextEffect: 'none',

            closeBtn: false,
            arrows: false,
            nextClick: true,

            helpers: {
                thumbs: {
                    width: 50,
                    height: 50
                }
            }
        });


        /*
            Open manually
        */

        $("#fancybox-manual-a").click(function () {
            $.fancybox.open('1_b.jpg');
        });

        $("#fancybox-manual-b").click(function () {
            $.fancybox.open({
                href: 'iframe.html',
                type: 'iframe',
                padding: 5
            });
        });

        $("#fancybox-manual-c").click(function () {
            $.fancybox.open([
                {
                    href: '1_b.jpg',
                    title: 'My title'
                }, {
                    href: '2_b.jpg',
                    title: '2nd title'
                }, {
                    href: '3_b.jpg'
                }
            ], {
                helpers: {
                    thumbs: {
                        width: 75,
                        height: 50
                    }
                }
            });
        });


    });
    $(function () {

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        // Create the chart =============================================================
        $('#container').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container1').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container2').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container3').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container4').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container5').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container6').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container7').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

        // Create the chart =============================================================
        $('#container8').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            rangeSelector: {
                enabled: false
            },

            tooltip:{
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;

                    for (i = -999; i <= 0; i += 1) {
                        data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
                        ]);
                    }
                    return data;
                }())
            }]
        });

    });
</script>
<style type="text/css">
    .fancybox-custom .fancybox-outer {
        box-shadow: 0 0 50px #222;
    }
</style>





<div class="">


    <div class="large-12 columns">

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>خمس ثواني</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="خمس ثواني">
                    <div id="container" style="height: 210px; min-width: 310px"></div>
                    
                </a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>خمس دقايق</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="خمس دقايق">
                    <div id="container1" style="height: 210px; min-width: 310px"></div>
                </a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>خمس ساعات</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="خمس ساعات">
                    <div id="container2" style="height: 210px; min-width: 310px"></div></a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>بالثواني</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="بالثواني">
                    <div id="container3" style="height: 210px; min-width: 310px"></div></a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>بالدقائق</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="بالدقائق">
                    <div id="container4" style="height: 210px; min-width: 310px"></div>
                </a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>بالساعات</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="بالساعات">
                    <div id="container5" style="height: 210px; min-width: 310px"></div></a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>باليوم</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="باليوم">
                    <div id="container6" style="height: 210px; min-width: 310px"></div></a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>بالشهر</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="بالشهر">
                    <div id="container7" style="height: 210px; min-width: 310px"></div></a>
            </div>
        </div>

        <div class="large-4 column">
            <div class="TikerChartWrapper">
                <h4>بالسنه</h4>
                <a class="fancybox" href="~/Materials/UTMS/Images/Chart.jpg" data-fancybox-group="gallery" title="بالسنه">
                    <div id="container8" style="height: 210px; min-width: 310px"></div></a>
            </div>
        </div>
    </div>



</div>
