<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Borsa Admin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <link rel="shortcut icon" href="~/Areas/Admin/img/favicon.ico">
    <link href="~/Areas/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='~/Areas/Admin/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href="~/Areas/Admin/css/charisma-app.css" rel="stylesheet">
    @*Dialogs Javascript And CSS*@
    <link href="~/Areas/Admin/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Areas/Admin/js/jquery-1.8.2.min.js"></script>
    <script src="~/Areas/Admin/js/jquery-ui-1.8.24.min.js"></script>
   @RenderSection("Scripts", required: false)
</head>
<body>
    @{Html.RenderPartial("_MenuBarPartial");}
    <div class="ch-container">
        <div class="row">
         @{Html.RenderPartial("_RightSidePartial");}

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <div id="users" style="display:none;">
                                    <a href="/Admin/Home/UsersList" id="customer" class="btn btn-sm btn-default">Customers</a>
                                    <a href="/Admin/Home/Staff" id="staff" class="btn btn-sm btn-default">Staff</a>
                                </div>
                            </div>
                            <div class="box-content row" style="text-align:center; margin-left:0px; margin-right:0px;">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @{Html.RenderPartial("_FooterPartial");}
    </div>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Areas/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/js/jquery.cookie.js"></script>
    <script src='~/Areas/Admin/bower_components/moment/min/moment.min.js'></script>
    <script src='~/Areas/Admin/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <script src="~/Areas/Admin/bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="~/Areas/Admin/bower_components/responsive-tables/responsive-tables.js"></script>
    <script src="~/Areas/Admin/js/charisma.js"></script>

</body>
</html>
