

.dropSearch{
	padding: 0.625em;
	font-size:0.875em;
	width:100%;
	border-radius:0.438em;
	border: solid 0.063em #e2e2e2;
	color:#999;
}
.dropSearch2{
	padding: 10.063em;
	font-size:0.875em;
	width:92%;
	border-radius:0.438em;
	border: solid 0.063em #e2e2e2;
	color:#999;
}
.dropSearch3{
	padding: 10.063em;
	font-size:0.875em;
	width:98%;
	border-radius:0.438em;
	border: solid 0.063em #e2e2e2;
	color:#999;
}
.TextArea{
	padding: 10.063em;
	font-size:0.875em;
	width:98%;
	border-radius:0.438em;
	border: solid 0.063em #e2e2e2;
	color:#999;
    height: 3.750em;
}
.dropSearch4{
	padding: 10.063em;
	font-size:0.875em;
	width:70%;
	border-radius:0.438em;
	border: solid 0.063em #e2e2e2;
	color:#999;
}
.ContentText{
	color:#333;
	font-size:0.938em;
	line-height:1.250em;
	padding: 0.625em 0;
	text-align:justify;
}
.ContentText2{
	color:#333;
	font-size:0.813em;
	line-height:1.250em;
	padding: 0.625em 0.625em;
	text-align:justify;
}


.ReadMore a{
	font-size:0.750em;
	background-color:#F9F9F9;
	border-radius:0.313em;
	padding: 0.625em;
	width: 3.750em;
	height:1.563em;
	color:#999;
	text-decoration:none;
	text-shadow: 0px 0.063em #FFF;
}
.ReadMore a:hover{
	color:#FFF;
	background-color:#008cba;
	text-decoration:none;
	text-shadow: 0px 0px #FFF;
		-o-transition:color .1s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	/* ...and now override with proper CSS property */
  	transition:color .5s ease-out, background .5s ease-in;

}
.ReadMore2 a{
    display: inline-block;
	background-color:#008cba;
	border-radius:0.313em;
	padding: 0.313em 0.625em;
    text-align: center;
	color:#FFF;
    font-family: 'GE_SS';
    font-weight: normal;
	text-decoration:none;
	font-size:0.875em;
}
.ReadMore2 a:hover{
	color:#FFF;
	background-color:#000;
	text-decoration:none;
	text-shadow: 0px 0px #FFF;
		-o-transition:color .1s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	/* ...and now override with proper CSS property */
  	transition:color .5s ease-out, background .5s ease-in;

}
.ReadMore3 a{
	font-size:0.750em;
	background-color:#008cba;
	border-radius:0.313em;
	padding: 0.625em 0.625em;
	width: 3.750em;
	height:1.563em;
	color:#FFF;
	text-decoration:none;
}
.ReadMore3 a:hover{
	color:#999;
	background-color:#eaeaea;
	text-decoration:none;
	text-shadow: 0px 0px #FFF;
		-o-transition:color .1s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	/* ...and now override with proper CSS property */
  	transition:color .5s ease-out, background .5s ease-in;

}

.Fbutton {
background-image: url(../img/buttonF.png);
background-repeat: no-repeat;
background-position: center top;
height: 4.375em;
text-align: center;
vertical-align: middle;
color: #ffffff;
padding-top: 0.938em;
font-size: 1.000em;
font-weight: bold;
margin-top: -0.500em;
}

.Fbutton a{
	color:#fff;
}



.button {
font-family: "GE_Dinar",  Tahoma, sans-serif;
font-size: 1em !important;
padding: 0.1rem 0.5rem !important;
height: 2.3rem !important;
line-height:  2.3rem !important;
}

input[type=button]:hover {
   
}

input[type="submit"]{
    font-family: "GE_Dinar",  Tahoma, sans-serif;
font-size: 1em;
padding: 0.2rem;
height: 1.5rem;
}

input[type="submit"]:hover {
    padding: 0.2rem;
height: 1.5rem;
}

input[type=text] {
    padding: 0.2rem;
    font-family: Tahoma;
    font-size: 1em;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
}
input[type=textarea] {
    padding: 0.2rem;
    font-family: Tahoma;
    font-size: 1em;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
}

input[type=email] {
    padding: 0.2rem;
    font-family: Tahoma;
    font-size: 1em;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;

}
input[type=textarea] {
    padding: 0.2rem;
    font-family: Tahoma;
    font-size: 1em;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;

}

input[type=text]:focus, input[type=password]:focus {
  border: thin solid #55802e;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

input[type=file] {
    padding: 0.2rem;
    font-family: Tahoma;
    font-size: 1em;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
}

input[type=password] {
    font-family: Tahoma;
    font-size: 1em;
    padding: 0.2rem;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
}

select
{
    font-weight: normal;
    font-family: Tahoma;
    font-size: 1em;
	color:#999;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
}

label {
font-size: .82rem;
color: #666666;
}



.SearchWraper .FindIcon
{
    display: inline-block;
    border: 1px solid #2d2d2d;
    padding: 0.0rem .2rem;
    height: 1.5rem;
    background-color: #333
}
.SearchWraper .FindIcon:hover
{
    background-color: #000
}
.SearchWraper .FindIcon img
{
   max-width: 16px !important;
}
.SearchWraper .SearchLink
{
    font-size: .8em !important;
    display: inline-block;
    color: #2bb0dc;
    font-family: Tahoma;
    text-decoration: none;
}
.SearchWraper .SearchLink:hover
{
    color: #FFF;
    text-decoration: none;
}
.SearchTxtBox {    
    padding: .1rem 0.2rem !important;
    height: 1.5rem !important;
    width: 70% !important;
    font-size: .7em !important;
   /* height: 1.7rem !important;*/
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    float: right !important;
    display: inline-block !important;
}
.SearchButton {
font-family: Tahoma !important;
font-size: .8em !important;
padding: 0.1rem 0.5rem !important;
height: 1.7rem !important;
line-height: 1.7rem !important;
}



@media all and (max-width: 1030px) and (min-width: 520px) {
    .SearchTxtBox {
width: 70% !important;
display: inline-block !important;
}
    .SearchTxtBox .column, .columns {
float: right !important;
display: inline-block !important;
}
    .SearchTxtBox large-9, large-3
    {
        float: right !important;
        display: inline-block !important;
    }
}

@media all and (max-width: 520px) {
    .SearchTxtBox {
    font-size: .8em !important;
   /* height: 1.7rem !important;*/
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
}