@{
    ViewBag.Title = "وسع ثقافتك";
    Layout = null;
}
<link href="~/Materials/Ar/css/Accordion.css" rel="stylesheet" />
<script src="~/Materials/Ar/js/Accordion_annimition.js"></script>
<script src="~/Materials/Ar/js/spin.min.js"></script>



<div class="RegisterWrapper">
    <h1 class="Spec InnerPage">وسع ثقافتك </h1>
    <div class="large-12 columns">
        <div class="large-12 column">

            <div class="acc-container">
                <div class="acc-btn" ng-repeat="know in knowledges">
                    <h1>{{know.KnowledgeTitle}}</h1>
                    <div class="acc-content ">
                        <div class="acc-content-inner">
                            <p ng-repeat="Spec in know.informatoins">{{Spec}}</p>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>

    <div class="clear H10"></div>
</div>