@using Microsoft.AspNet.Identity
@using BCMS.Models
@if (Request.IsAuthenticated)
{
    string FullName = null;
    var FullNameCookie = HttpContext.Current.Request.Cookies["FullName"];
    if (FullNameCookie != null)
    {
        FullName = FullNameCookie.Value;
    }
    else
    {
        ApplicationDbContext db = new ApplicationDbContext();
        var UserId = User.Identity.GetUserId();
        FullName = db.Users.FirstOrDefault(a => a.Id == UserId).FullName;
    }
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Get, new { id = "logoutForm" }))
        {
            //@Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">{{logout | translate}}</a>
        }
    </li>
    <li><a href="#/Profile">{{welcome | translate}}  @FullName</a></li>
}
else
{
    <li><a href="#/Login"> {{login | translate}} </a></li>
    <li><a href="#/Register"> {{register | translate}} </a></li>
}

