@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_LayoutCallBack.cshtml";
    ViewBag.Title = "Error";
}

<h1 class="text-danger"> .خطأ </h1>
<h2 class="text-danger">هناك خطأ ما حدث فى تنفيذ طلبك برجاء المحاولة مرة أخرى</h2>

