
<div class="FooterWrapperBG" >
    <div style="height: 55px;margin: 0 auto; margin-top:40px;">
        <div id="footer_wrapper">
            <div class="footer_middle_section_content">
                <div class="Bottom">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-3 columns">
                                <ul>
                                    <li><h2>بورصة كابيتال</h2></li>
                                    <li><a href="/#BCWord">كلمة بورصة كابيتال</a></li>
                                    <li><a href="/#AboutSaudi">نبذة عن المملكة العربية السعودية</a></li>
                                    <li><a href="/#AboutUs">نبذة عنا</a></li>
                                    <li><a href="/#Partners">شركائنا</a></li>
                                    <li><a href="/#SayingsOfWise">من أقوال الحكماء</a></li>
                                    <li><a href="/#Feedback">رأيك يهمنا</a></li>
                                    <li><a href="/#Jobs">وظائف شاغرة</a></li>
                                    <li><a href="/#ContactUs">اتصل بنا</a></li>
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <ul>
                                    <li><h2>خدماتنا</h2></li>
                                    <li><a href="/#PyramidServices">هرم الخدمات</a></li>
                                    <li><a href="/#Advice">نصائح استثمارية</a></li>
                                    <li><a href="http://pixel.borsacapital.com/" target="_blank">بكسلها معانا</a></li>
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <ul>
                                    <li><h2>تعــليم</h2></li>
                                    <li><a href="@Url.Action("Category", "Home", new { Area = "Exams" })" target="_blank">الامتحانات</a></li>
                                    <li><a href="/#Terminology">المصطلحات</a></li>
                                    <li><a href="/#FAQ">أسئلة متكررة</a></li>
                                    <li><a href="@Url.Action("Index", "Game", new { Area = "Games" })" target="_blank">العاب تعليمية</a></li>
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <ul>
                                    <li><h2>تـــرفية</h2></li>
                                    <li><a href="/#Games">العاب ترفيهية</a></li>
                                    <li><a href="/#Music" target="_blank">موسيقى</a></li>
                                    <li><a href="#Relaxing">فيديوهات</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <div class="large-12 columns">
                            <div class="copyRight">حقوق النشر © BorsaCapital 2015</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
