<div class="headerWrapper">

    <div class="BorderBottom">
        <div class="TopNav">
            <ul>
                @*<li><a href="#"><img src="~/Materials/UTMS/Images/Grid/tv.png" /></a></li>*@
                <li><a href="http://www.cnbcarabia.com/" target="_blank"><img src="~/Materials/UTMS/Images/Grid/cnbc.png" /></a></li>
            </ul>
        </div>
    </div>

</div>

<div class="clear"></div>
<div class="MainMenuWrappe">
    <div class="large-12 columns">
        <div class="MainLogo"><a href="#/"><img src="~/Materials/UTMS/Images/Logo.png" /></a></div>
        <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul>
                <li class="SubMenuDock">
                    <a>المنصات الإلكترونية</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul class="ca-menu">
                                    <li><a href="#StockUp"><div class="ca-content"><h3 class="ca-sub">الملخص اليومي</h3></div></a></li>
                                    <li><a href="#MarketCaster"><div class="ca-content"><h3 class="ca-sub">ماركت كاستر</h3></div></a></li>
                                    @*<li><a href="#MarketCaster2"><div class="ca-content"><h3 class="ca-sub">ماركت كاستر2</h3></div></a></li>*@
                                    @*<li><a href="#MarketCaster3"><div class="ca-content"><h3 class="ca-sub">ماركت كاستر3</h3></div></a></li>*@
                                    <li><a href="#BorsaGraphics"><div class="ca-content"><h3 class="ca-sub">بورصة جرافيكس</h3></div></a></li>
                                    <li><a href="#BcCounters"><div class="ca-content"><h3 class="ca-sub">عدادات بورصة كابيتال</h3></div></a></li>
                                    <li><a href="#BcIndicators"><div class="ca-content"><h3 class="ca-sub">مؤشرات بورصة كابيتال</h3></div></a></li>
                                    <li><a href="#MetaStock"><div class="ca-content"><h3 class="ca-sub">MetaStock</h3></div></a></li>
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">Eikon أيكون</h3></div></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="SubMenuDock">
                    <a>الصفحات الذكية</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul class="ca-menu">
                                    <li><a href="#BorsaCloud"><div class="ca-content"><h3 class="ca-sub">بورصة كلاود</h3></div></a></li>
                                    @*<li><a href="#GreenRed"><div class="ca-content"><h3 class="ca-sub">أخضر أحمر</h3></div></a></li>*@
                                    @*<li><a href="#Trader"><div class="ca-content"><h3 class="ca-sub">صفحة المضارب</h3></div></a></li>*@
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">صفحة المستثمر</h3></div></a></li>*@
                                    @*<li><a href="#bullsAndBears"><div class="ca-content"><h3 class="ca-sub">صفحة الدبب والثيران</h3></div></a></li>*@
                                    <li><a href="#Petrochemicals"><div class="ca-content"><h3 class="ca-sub">صفحة البتروكيماويات</h3></div></a></li>
                                    @*<li><a href="#Knowledge"><div class="ca-content"><h3 class="ca-sub">صفحة المعرفة</h3></div></a></li>*@
                                    <li><a href="#investment"><div class="ca-content"><h3 class="ca-sub">استثمارك في سطر</h3></div></a></li>
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub"> صفحة التوصيات</h3></div></a></li>*@
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">المحفظة الإرشادية</h3></div></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="">
                    <a href="/Home/Index#Demo">حساب تجريبى</a>
                </li>

                @*<li class="">
                    <a href="#WorldEconomy"> اقتصاديات العالم</a>
                </li>*@

                <li class="SubMenuDock">
                    <a>الخرائظ الحرارية</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul class="ca-menu">
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">خارطة الأسواق العالمية</h3></div></a></li>*@
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">خارطة القطاعات</h3></div></a></li>*@
                                    <li><a href="#CompaniesMap"><div class="ca-content"><h3 class="ca-sub">خارطة الشركات</h3></div></a></li>
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">خارطة البتروكيماويات</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">خارطة كبار المتداولين</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">خارطة شركات النسب</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">المؤثرات على الشركة</h3></div></a></li>*@
                                    <li><a href="#CompanyCard"><div class="ca-content"><h3 class="ca-sub">كارت الشركات</h3></div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                @*<li class="SubMenuDock">
                    <a>التواصل الإجتماعي</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul class="ca-menu">
                                    <li><a href="#Blog"><div class="ca-content"><h3 class="ca-sub">منتدى البورصة</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">Borsatweets</h3></div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>*@

                <li class="SubMenuDock">
                    <a>أكاديمية البورصة</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul class="ca-menu">
                                    <li><a href="#Knowledge"><div class="ca-content"><h3 class="ca-sub">وسع ثقافتك</h3></div></a></li>
                                    <li><a href="@Url.Action("Category", "Home", new { Area = "Exams" })" target="_blank"><div class="ca-content"><h3 class="ca-sub">الإمتحانات</h3></div></a></li>

                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">نصائح إستثمارية</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">من أقوال الحكماء</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">المكتبة الإلكترونية</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">المصطلحات</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">نشاط الشركات</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">مقارنة الشركات</h3></div></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="SubMenuDock">
                    <a> أدوات المساعدة</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul class="ca-menu">
                                    <li><a href="#TradingTime"><div class="ca-content"><h3 class="ca-sub">أوقات التداول</h3></div></a></li>
                                    <li><a href="#MediationCompanies"><div class="ca-content"><h3 class="ca-sub">شركات الوساطة</h3></div></a></li>
                                    <li><a href="#BorsaMarket"><div class="ca-content"><h3 class="ca-sub">سوق الاسهم</h3></div></a></li>
                                    <li><a href="#Regulators"><div class="ca-content"><h3 class="ca-sub">الجهات الرقابية</h3></div></a></li>
                                    <li><a href="#GovernmentAgencies"><div class="ca-content"><h3 class="ca-sub">الجهات الحكومية</h3></div></a></li>
                                    <li><a href="#Media"><div class="ca-content"><h3 class="ca-sub">الأعلام</h3></div></a></li>
                                    <li><a href="#OtherEconomicsSources"><div class="ca-content"><h3 class="ca-sub">مصادر إقتصادية أخرى</h3></div></a></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="SubMenuDock">
                    <a>ترفيه</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul class="ca-menu">
                                    <li><a href="@Url.Action("Index", "Game", new { Area = "Games" })" target="_blank"><div class="ca-content"><h3 class="ca-sub">ألعاب تعليميه</h3></div></a></li>
                                    @*<li><a href="#"><div class="ca-content"><h3 class="ca-sub">ألعاب ترفيهيه</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">كاريكاتور</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">فيديوهات</h3></div></a></li>
                                    <li><a href="#"><div class="ca-content"><h3 class="ca-sub">موسيقي</h3></div></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="">
                    <a href="http://pixel.borsacapital.com/" target="_blank">اعلن معنا</a>
                </li>
                <li class="LogoMenu"><a><img src="~/Materials/UTMS/Images/Grid/sos.png" /></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="clearfix"></div> 