<div class="SmallSideLeft">
    <div class="AnyList">
        <ul>
            <li><a title="الرئيسيه" href="@Url.Action("Index", "Home", new { Area=""})"><img src="~/Materials/UTMS/img/home.png" alt="Home" width="20" /></a></li>
            @*<li><a title="نبذه عنا" href="@Url.Action("AboutUs", "Home/index#", new { Area = "" })"><img src="~/Materials/UTMS/Images/LeftMenu/About.png" alt="نبذه عنا" /></a></li>*@
            <li><a title="نبذه عنا" href="/Home/Index/#AboutUs"><img src="~/Materials/UTMS/Images/LeftMenu/About.png" alt="نبذه عنا" /></a></li>
            <li><a href="/Home/Index/#PyramidServices" title="Services"><img src="~/Materials/UTMS/Images/LeftMenu/Services.png" alt="خدماتنا" /></a></li>
            <li><a title="المساعدة" href="/Home/Index/#ContactUs"><img src="~/Materials/UTMS/Images/LeftMenu/Help.png" alt="المساعدة" /></a></li>
            @*<li><a href="#"><img src="~/Materials/UTMS/Images/LeftMenu/4.png" alt="تقييم الاتصال" /></a></li>*@
        </ul>
    </div>
</div>