<div class="large-3 column">
    <div class="TikerChartWrapper">
        <h4 dir="ltr"> SP/TSX Comp</h4>
        <a href="#" title=""><img src="~/Materials/UTMS/Images/Chart.jpg" alt="" /></a>
        <hr />

        <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> TOP EQUITY INDICES</h4>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                <tbody>
                    <tr>
                        <th colspan="2"><strong>Name </strong></th>
                        <th><strong>Index</strong></th>
                        <th><strong>Last</strong></th>

                        <th colspan="2"><strong>%Chng</strong> </th>
                    </tr>
                    <tr class="tr1">

                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-States-Flag-16.png"></td>
                        <td>DJ Industrial</td>
                        <td class="red">85.13</td>
                        <td> 374.68  </td>
                        <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-States-Flag-16.png"></td>
                        <td>SP 500</td>
                        <td>374.68</td>
                        <td class="red">85.13</td>
                        <td>  <img class="img" src="~/Materials/UTMS/Images/down.png"> </td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Canada-Flag-16.png"></td>
                        <td>SP/TSX Comp</td>
                        <td class="green">14.152</td>
                        <td> 374.68  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Brazil-Flag-16.png"></td>
                        <td>Bovespa</td>
                        <td class="red">14.152</td>
                        <td> 374.68  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Kingdom-Flag-16.png"></td>
                        <td>FTSE 100</td>
                        <td class="green">14.152</td>
                        <td> 374.68  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Kingdom-Flag-16.png"></td>
                        <td>FTSE 100 EOD</td>
                        <td class="red">14.152</td>
                        <td> 374.68  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/France-Flag-16.png"></td>
                        <td>CAC 40</td>
                        <td class="red">14.152</td>
                        <td> 374.68  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Germany-Flag-16.png"></td>
                        <td>DAX 30</td>
                        <td class="green">14.152</td>
                        <td> 374.68  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>IBEX</td>
                        <td class="green">16.778</td>
                        <td> 10,520.8 </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>0.92 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>FTSE MIB	</td>
                        <td class="green">19,954.51</td>
                        <td>  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>+3.88 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>STOXX 50</td>
                        <td class="green"></td>
                        <td> 3,06.2 </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>3,06.2 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td> Nikkei 225	</td>
                        <td class="green"></td>
                        <td> 17,35.5 </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>+0.33 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td> Hang Seng</td>
                        <td class="green">23,912.83</td>
                        <td>  </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>+2.03 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td> TR US Price Idx</td>
                        <td class="green"></td>
                        <td> 186.48 </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td>+2.03 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>  Volatility Index</td>
                        <td class="green">12.90</td>
                        <td> </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                        <td>-5.01 %</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>  STOXX</td>
                        <td class="green">345.24</td>
                        <td> </td>
                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> TOP COMMODITIES</h4>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                <tbody>
                    <tr>
                        <th colspan="2"><strong>Name </strong></th>
                        <th><strong>Last</strong></th>
                        <th></th>
                        <th><strong>Net Chng</strong> </th>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>COMEX Gold</td>
                        <td>1,197.5</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td class="red"> </td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>COMEX Silver</td>
                        <td>16.391</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                        <td class="red"> </td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td> NYMEX Platinum</td>
                        <td>1,227.8</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td class="red"> </td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>COMEX Copper</td>
                        <td>3.0350</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td class="red"> </td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>NYMEX Light Crude</td>
                        <td>	76.56</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>

                        <td class="red"> - 0.05</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> FOREIGN EXCHANGE - MAJORS</h4>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                <tbody>
                    <tr>
                        <th colspan="2">Name </th>
                        <th>Bid</th>
                        <th></th>

                        <th>Ask</th>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>EUR/USD</td>
                        <td>1.2385</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td> 1.2388</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td> GBP/USD</td>
                        <td>1.5637</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td> 1.5641</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td> USD/CHF</td>
                        <td>0.9707</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td> 0.9711</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td> USD/JPY</td>
                        <td>118.29</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td>118.33</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>AUD/USD</td>
                        <td>0.8636</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td>0.8639</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>NZD/USD</td>
                        <td>0.7864</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td>0.7869</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td>USD/CAD</td>
                        <td>1.1243</td>
                        <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>

                        <td>1.1249</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> CENTRAL BANK RATES</h4>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                <tbody>
                    <tr>
                        <th colspan="4">Name </th>

                        <th>Last</th>

                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="3">Fed Funds</td>

                        <td>0.25</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="3"> US Discount</td>

                        <td>0.75</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="3">  ECB Refinance</td>

                        <td>0.05</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="3">  BOE Bank Rate</td>

                        <td>0.50</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="3">   Japan Prime</td>

                        <td>1.15</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> 3M INTERBANK RATES </h4>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                <tbody>
                    <tr>
                        <th colspan="4">Name </th>
                        <th>Last</th>

                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="3">3M USD LIBOR</td>

                        <td>0.23285</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="3"> 3M EURIBOR</td>

                        <td>0.081</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> TOP BENCHMARK BONDS</h4>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                <tbody>
                    <tr>
                        <th colspan="2">Name </th>
                        <th></th>
                        <th>Yield</th>
                        <th>Yld Net Chng</th>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2"> US 10Y GOVT BOND</td>
                        <td>2.3276</td>
                        <td align="center" class="green"> + 0.013</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2"> EU 10Y GOVT BOND</td>
                        <td>0.783</td>
                        <td align="center" class="green"> + 0.013</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2"> JP 10Y GOVT BOND</td>
                        <td>0.463</td>
                        <td align="center"> 0</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2"> GB 10Y GOVT BOND</td>
                        <td>2.061</td>
                        <td align="center" class="green"> + 0.013</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2"> FR 10Y GOVT BOND</td>
                        <td>1.118</td>
                        <td align="center" class="green">+ 0.005</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2"> IT 10Y GOVT BOND</td>
                        <td>2.174</td>
                        <td align="center" class="red"> -0.038</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2">CA 10Y GOVT BOND</td>
                        <td>2.021</td>
                        <td align="center" class="green"> + 0.014</td>
                    </tr>
                    <tr class="tr1">
                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                        <td colspan="2">  CH 10Y GOVT BOND</td>
                        <td>0.376</td>
                        <td align="center" class="red">-0.004</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
