<div class="SmallSideLeft">
    <div class="AnyList">
        <ul>
            <li><a title="الرئيسيه" href="@Url.Action("Index", "Home", new { Area=""})"><img src="~/Materials/UTMS/img/home.png" alt="Home" width="20" /></a></li>
            <li><a title="نبذه عنا" href="/#/AboutUs"><img src="~/Materials/UTMS/Images/LeftMenu/About.png" alt="نبذه عنا" /></a></li>
            <li><a href="/#/PyramidServices" title="Services"><img src="~/Materials/UTMS/Images/LeftMenu/Services.png" alt="خدماتنا" /></a></li>
            <li><a title="المساعدة" href="/#/ContactUs"><img src="~/Materials/UTMS/Images/LeftMenu/Help.png" alt="المساعدة" /></a></li>
        </ul>
    </div>
</div>