<div class="SmallSideRight">
    <div class="AnyList">
        <ul>
            <li><a title="فنجان قهوه" href="#BorsaBreak"><img src="~/Materials/UTMS/Images/RightMenu/1.png" /></a></li>
            @*<li><a title="المفكرة الاقتصاديه" href="#"><img src="~/Materials/UTMS/Images/RightMenu/2.png" /></a></li>
            <li><a title="خارطة الاسواق الحراريه" href="#"><img src="~/Materials/UTMS/Images/RightMenu/3.png" /></a></li>
            <li><a title="أهم المؤثرات علي القطاعات والشركات" href="#"><img src="~/Materials/UTMS/Images/RightMenu/4.png" /></a></li>
            <li><a title="منتدي البورصة" href="#"><img src="~/Materials/UTMS/Images/RightMenu/5.png" /></a></li>*@
            <li><a title="بورصه جرافيكس" href="#BorsaGraphics"><img src="~/Materials/UTMS/Images/RightMenu/6.png" /></a></li>
        </ul>
    </div>
</div>