
<div class="TikerChartWrapper">

    <h4>إقتصادات الدول</h4>

    <div style="width: 90%;margin: 0 auto;direction: ltr">
        @*@Html.Raw(File.ReadAllText(Server.MapPath("~/Areas/UTMS/Views/StockUp/GulfMap.svg")))*@
        <object data="../Materials/GulfMap.svg" type="image/svg+xml"></object>

        @*<img src="~/Areas/UTMS/Views/StockUp/GulfMap.svg" />*@
        @*<iframe src="~/Included_Pages/GulfMap.svg"></iframe>*@
        @*<embed type="image/svg+xml" src="~/Included_Pages/GulfMap.svg" />*@
        @*<img src="~/Included_Pages/GulfMap.svg" />*@
        @*<div ng-include="'/Included_Pages/GulfMap.html'">

        </div>*@
      
    </div>

    <hr />
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> الأسهم</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>


                <tr>
                    <th colspan="2"><strong> </strong></th>
                    <th><strong>المؤشر</strong></th>
                    <th><strong>اخر</strong></th>

                    <th colspan="2"><strong>التغير%</strong> </th>
                </tr>


                <tr class="tr" align="right">
                    <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Saudi-Arabia16.png"></td>
                    <td>السعودية</td>
                    <td class=" red">6,517.16</td>
                    <td>6,480.32</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td>0.57%</td>
                </tr>

                <tr class="tr" align="right">
                    <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                    <td>دبي</td>
                    <td class="red">3,286.90</td>
                    <td>3,283.92</td>
                    <td>  <img class="img" src="~/Materials/UTMS/Images/up.png"> </td>

                    <td>0.09 %</td>
                </tr>

                <tr class="tr" align="right">
                    <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                    <td>أبو ظبي</td>
                    <td class="green">4,420.07</td>
                    <td> 4,407.16 </td>
                    <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td>0.29 %</td>
                </tr>
                <tr class="tr" align="right">
                    <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Kuwait16.png"></td>
                    <td>الكويت</td>
                    <td class="red">5,371.82</td>
                    <td> 5,375.21  </td>
                    <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td>-0.06 %</td>
                </tr>
                <tr class="tr" align="right">
                    <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Qatar16.png"></td>
                    <td>قطر</td>
                    <td class="green">9,817.31</td>
                    <td> 9,867.94  </td>
                    <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td>-0.51 %</td>
                </tr>
                <tr class="tr" align="right">
                    <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Oman16.png"></td>
                    <td>مسقط</td>
                    <td class="red">5,780.94</td>
                    <td> 5,761.32  </td>
                    <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td>0.34 %</td>
                </tr>
                <tr class="tr" align="right">
                    <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Bahrain16.png"></td>
                    <td>البحرين</td>
                    <td class="red">1,113.59</td>
                    <td> 1,114.11  </td>
                    <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td> -0.05 %</td>
                </tr>


            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> الطاقة</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">

                    <td>برنت </td>
                    <td>48.58</td>
                    <td>1.42 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">3.011 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>WTI </td>
                    <td>47.85</td>
                    <td> 1.52 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">3.2808 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>الغاز الطبيعي </td>
                    <td>2.883</td>
                    <td>-0.007 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">-0.24 %</td>
                </tr>


            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> البتروكيماويات</h4>
    <div>

    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار اللقيم</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">

                    <td>النافتا</td>
                    <td>675.00</td>
                    <td> 35.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">5.47 %</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار المواد الأساسية ( اسيا )</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">
                    <td>الايثيلين</td>
                    <td>1,130.00</td>
                    <td> 50.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">4.24 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>البروبيلين </td>
                    <td>1,045.00</td>
                    <td> 95.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">8.33 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>MTBE  </td>
                    <td>915.00</td>
                    <td>85.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">10.24 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>البنزين   </td>
                    <td>995.00</td>
                    <td>55.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">5.85 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>الستايرين  </td>
                    <td>1,255.00</td>
                    <td>50.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">4.15 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>الميثانول (ميثانيكس) </td>
                    <td>435.00</td>
                    <td>0.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">0.00 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>الميثانول (الصين) </td>
                    <td>325.00</td>
                    <td>0.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">0.00 %</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> اسعار البوليمرز ( الخليج العربي )</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">

                    <td>HDPE (خليج)</td>
                    <td>1,400.0</td>
                    <td width="18%"> 65.0</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">4.44 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>LDPE (الخليج)</td>
                    <td>1,385.0</td>
                    <td width="18%"> 45.0 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">3.15%</td>
                </tr>
                <tr class="tr" align="right">

                    <td>LLDPE (الخليج) </td>
                    <td>1,385.0</td>
                    <td width="18%">35.0 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" green">2.46%</td>
                </tr>
                <tr class="tr" align="right">

                    <td>بولي بروبلين (الخليج)   </td>
                    <td>1,385.0</td>
                    <td width="18%">20.0 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">1.42%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار البوليمر (اّسيا )</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">

                    <td width="32%">HDPE</td>
                    <td>1,390.00</td>
                    <td> 75.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">5.12 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td width="32%">LDPE</td>
                    <td>1,390.00</td>
                    <td> 30.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" green">2.11 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td width="32%">LLDPE </td>
                    <td>1,390.00</td>
                    <td>30.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" green">2.11 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td width="32%">بولي بروبيلين</td>
                    <td>1,395.00</td>
                    <td>30.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">2.11 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td width="34%"> بولي كاربونيت (PCB)</td>
                    <td>2,650.00</td>
                    <td>0.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">0.00 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td width="32%">بولي ستايرين </td>
                    <td>1,415.00</td>
                    <td>50.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">3.41 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>PVC</td>
                    <td>930.00</td>
                    <td width="18%">35.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">3.63 %</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار المواد الوسيطة ( اسيا )</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">

                    <td>MEG ( سابك)</td>
                    <td>1,000.00</td>
                    <td width="18%">0.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" green">0.00 %</td>
                </tr>
                <tr class="tr" align="right" style="">

                    <td>MEG (فوري آسيا)</td>
                    <td>905.00</td>
                    <td width="18%"> 50.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" green">5.85 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>PTA </td>
                    <td>805.00</td>
                    <td width="18%">15.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" green">1.90 %</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار الأسمدة ( الشرق الأوسط )</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">

                    <td>DAP</td>
                    <td>490.0</td>
                    <td width="18%">0.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" green">0.00 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>امونيا</td>
                    <td>620.0</td>
                    <td width="18%">10.0 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">1.64 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>اليوريا</td>
                    <td>320.00</td>
                    <td width="18%">0.0</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" green">0.00 %</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار الـ TIO2</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">

                    <td>آسيا</td>
                    <td>2,750.0</td>
                    <td width="18%">0.00</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" green">0.00 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>اوروبا</td>
                    <td>2,885.0</td>
                    <td width="18%">0.00 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                    <td class=" red">0.00 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>امريكا</td>
                    <td>3,465.0</td>
                    <td width="18%">0.0</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" green">0.00 %</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> المعادن الثمينة</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr class="tr" align="right">
                    <td>الذهب</td>
                    <td>1,199.90</td>
                    <td> 4.20 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class="red">0.35 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>الفضه</td>
                    <td>16.60</td>
                    <td> 0.22 </td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">1.34 %</td>
                </tr>
                <tr class="tr" align="right">

                    <td>البلاتين</td>
                    <td>1,217.30</td>
                    <td> 9.80</td>
                    <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    <td class=" red">0.81%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
