@{
    ViewBag.Title = "Index";
}


<div class="gridContainer clearfix">
    <div id="LayoutDiv1" class="body">

        <div class="slider" align="center" style="margin-bottom:40px;">

            <div id="ei-slider" class="ei-slider">
                <ul class="ei-slider-large">
                    <li>
                        <img src="~/Areas/Games/images/photo.jpg" alt="image06" />
                      
                        <div class="ei-title">
                            <h2>Seeker</h2>
                            <h3>Creative</h3>
                        </div>
                    </li>
                    <li>
                        <img src="~/Areas/Games/images/4175.jpg" alt="image01" />
                        <div class="ei-title">
                            <h2>Careerist</h2>
                            <h3>Attractive</h3>
                        </div>
                    </li>
                    <li>
                        <img src="~/Areas/Games/images/games-banner.jpg" alt="image02" />
                        <div class="ei-title">
                            <h2>Friendly</h2>
                            <h3>Creator</h3>
                        </div>
                    </li>

                </ul><!-- ei-slider-large -->
                <ul class="ei-slider-thumbs">
                    <li class="ei-slider-element">Current</li>

                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>

                </ul><!-- ei-slider-thumbs -->
            </div>






        </div>

        <h1 style="font-size:18px;">: الألعاب التعليمية            </h1>
        <p>
            هدف الألعاب التعليمية هو زيادة معلومات ومهارات المستخدمين في سوق الأسهم السعودية لكي يحققوا نقلة نوعية للوصول إلى مستوى الإحترافية
        </p>

        <div class="Games">
            <a href="@Url.Action("SpaceGame", "Home")">
                <div class="pic flip-container" ontouchstart="this.classList.toggle('hover');">


                    <div class="flipper">
                        <div class="front">

                            <img alt="لعبة الفضاء" src="~/Areas/Games/images/images.jpg">
                            <h1>لعبة الفضاء </h1>

                        </div>

                        <div class="back">
                            <div class="center">
                                <p>
                                    إحفظ رموز الشركات وقطاعاتها
                                </p>
                            </div>
                           
                            <!-- back content -->
                        </div>

                    </div>

                </div>
            </a>
            <a href="@Url.Action("MemeoryGame", "Home")">
                <div class="pic flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img alt="لعبة الذاكرة" src="~/Areas/Games/images/Pattern Memory.png">
                      
                            <h1>لعبة الذاكرة </h1>
                        </div>
                        <div class="back">
                            <div class="center">
                                <p>
                                    إحفظ رموز الشركات وقطاعاتها
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>      <p>&nbsp;</p>
        <p>&nbsp;</p>      <p>&nbsp;</p>
        <p>&nbsp;</p>      <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>


    </div>
</div>
