
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoveRole</title>
</head>
<body>
    <div style="text-align:center"><h2>Remove Role</h2></div>
    <hr />
    <div> 

        @using (Ajax.BeginForm("RemoveRolePost", "Management", new AjaxOptions { UpdateTargetId = "RoleContent", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "$('.close').click()" }))
        {
            <input type="hidden" name="RoleId" value="@ViewBag.RoleId" />
            <p style="font-size:16px; text-align:center">
                <strong>Are you sure you want to delete "<i>@ViewBag.RoleName</i>" role?</strong> &nbsp;
                <input type="submit" value="Yes" class="btn btn-danger " />
                <input id="save" type="button" value="No" class="btn btn-default " data-dismiss="modal" />
            </p>
        }

    </div>
</body>
</html>
