
<div style="position: relative;overflow-y: auto;" >
    <ul class="tabs" data-tab>

        <li class="tab-title active">
            <a ng-click="gotoAnchor(1)">مقتطفات متنوعة</a>
            <!--<input type="radio" name="tabArticle" id="tabArticle1" checked />-->
            <!--<label for="tabArticle1">مقتطفات متنوعة</label>-->

            
            <div class="Clear"></div>
        </li>

        <li class="tab-title">
            <a ng-click="gotoAnchor(2)">حسب الدولة</a>
            <!--<input type="radio" name="tabArticle" id="tabArticle2" />
        <label for="tabArticle2">حسب الدولة</label>-->

            <div class="Clear"></div>
        </li>

        <li class="tab-title">
            <!--<input type="radio" name="tabArticle" id="tabArticle3" />
            <label for="tabArticle3">النفط والطاقه</label>-->
            <a ng-click="gotoAnchor(3)">النفط والطاقه</a>
            

            <div class="Clear"></div>
        </li>

        <li class="tab-title">
            <!--<input type="radio" name="tabArticle" id="tabArticle4" />
            <label for="tabArticle4">حسب التاريخ</label>-->
            <a ng-click="gotoAnchor(4)">حسب التاريخ</a>
            

            <div class="Clear"></div>
        </li>

        <li class="tab-title">
            <!--<a href="#panel1" name="tabArticle"  ></a>
            <label for="tabArticle5">الأكثر مشاهدة</label>-->
            <a ng-click="gotoAnchor(5)">الأكثر مشاهدة</a>
            

            <div class="Clear"></div>
        </li>

        <li class="tab-title">
            <!--<input type="radio" name="tabArticle" id="tabArticle6" />
            <label for="tabArticle6">اراء المحللين</label>-->
            <a ng-click="gotoAnchor(6)">اراء المحللين</a>
            
        </li>

        <div class="Clear"></div>

    </ul>

    <div class="tabs-content">

        <div class="content active" id="anchor1">
            <div class="GridLargWrapper">
                <div class="Row">
                    <div class="large-6 column">

                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="https://www.youtube-nocookie.com/embed/EW5IdwltaAc?rel=0" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab1/7.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 2:38 م</h4>
                                    <p>
                                        إلى متى سيصمد النظام المالي الأمريكي؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311190" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab1/1.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 2:38 م</h4>
                                    <p>
                                        ردود افعال الشركات العالمية على خروج بريطانيا من الاتحاد الاوروبي
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311086" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab1/2.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:45 ص</h4>
                                    <p>
                                        لماذا خفضت S&P التصنيف الائتماني لبريطانيا؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311082" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab1/3.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:40 ص</h4>
                                    <p>
                                        هل انقذ الخروج البريطاني “جانيت يلين”؟
                                    </p>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310998" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab1/4.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 9:26 م</h4>
                                    <p>
                                        هل “خروج بريطانيا” بداية لتفكك الاتحاد الاوروبي؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310992" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab1/5.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 9:11 م</h4>
                                    <p>
                                        الرابحون والخاسرون من “خروج بريطانيا”
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310975" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab1/6.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 8:29 م</h4>
                                    <p>
                                        كيف تفاعلت الأسواق مع نتائج استفتاء بريطانيا؟
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="Clear"></div>
        </div>

        <div class="content" id="anchor2">
            <div class="GridLargWrapper">
                <div class="Row">
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311204" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab2/1.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 4:00 م</h4>
                                    <p>
                                        أوباما يحذر من “هيستيريا” مالية عالمية بعد الانفصال البريطاني
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311195" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab2/2.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 3:16 م</h4>
                                    <p>
                                        مجموعة “فيرجن” خسرت حوالي ثلث قيمتها بعد الانفصال البريطاني
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311156" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab2/3.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 1:05 م</h4>
                                    <p>
                                        بعد انفصال بريطانيا .. الضرائب سترتفع والإنفاق سينخفض
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311086" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab2/4.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:45 ص</h4>
                                    <p>
                                        لماذا خفضت S&P التصنيف الائتماني لبريطانيا؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311082" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab2/5.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:40 ص</h4>
                                    <p>
                                        هل انقذ الخروج البريطاني “جانيت يلين”؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311066" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab2/6.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:09 ص</h4>
                                    <p>
                                        ستاندرد آند بورز تجرد بريطانيا من تصنيفها الممتاز
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="Clear"></div>
        </div>

        <div class="content" id="anchor3">
            <div class="GridLargWrapper">
                <div class="Row">
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311091" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab3/1.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:45 ص</h4>
                                    <p>
                                        توتال تستثمر أكثر من ملياري دولار في حقل الشاهين القطري
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311057" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab3/2.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:03 ص</h4>
                                    <p>
                                        برنت يهبط لأقل سعر في 7 أسابيع بفعل الدولار وخروج بريطانيا
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311040" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab3/3.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 10:36 م</h4>
                                    <p>
                                        “توتال” الفرنسية تفوز بحصة 30% في حقل الشاهين القطري
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310946" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab3/4.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 6:31 م</h4>
                                    <p>
                                        وزير النفط الإيراني يعيد تنظيم الشركة الوطنية لتسريع إبرام صفقات قبل الانتخابات
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310876" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab3/5.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 4:07 م</h4>
                                    <p>
                                        هل تجمع الصين وزيرا الطاقة الروسي والسعودي؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310782" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab3/6.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 3:47 ص</h4>
                                    <p>
                                        الاسترليني والنفط متراجعان في بداية التعاملات الآسيوية وبورصة اليابان مرتفعة
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="anchor4">
            <div class="GridLargWrapper">
                <div class="Row">
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311216" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab4/1.jpg" /></a>
                                </td>
                                <td>
                                    <h4>لثلاثاء. يونيو 28 , 2016 | 4:29 م</h4>
                                    <p>
                                        الاقتصاد الأمريكي .. وتحديات الاقتصاد العالمي
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311210" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab4/2.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 4:19 م</h4>
                                    <p>
                                        “قطر للبترول” تؤسس شركة “نفط الشمال” مع “توتال”
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311190" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab4/3.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 2:38 م</h4>
                                    <p>
                                        ردود افعال الشركات العالمية على خروج بريطانيا من الاتحاد الاوروبي
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311086" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab4/4.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:45 ص</h4>
                                    <p>
                                        لماذا خفضت S&P التصنيف الائتماني لبريطانيا؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311082" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab4/5.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:40 ص</h4>
                                    <p>
                                        هل انقذ الخروج البريطاني “جانيت يلين”؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310998" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab4/6.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 9:26 م</h4>
                                    <p>
                                        هل “خروج بريطانيا” بداية لتفكك الاتحاد الاوروبي؟
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="anchor5" class="content">
            <div class="GridLargWrapper">
                <div class="Row">
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311204" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab5/1.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 4:00 م</h4>
                                    <p>
                                        أوباما يحذر من “هيستيريا” مالية عالمية بعد الانفصال البريطاني
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311086" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab5/2.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:45 ص</h4>
                                    <p>
                                        لماذا خفضت S&P التصنيف الائتماني لبريطانيا؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311066" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab5/3.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الثلاثاء. يونيو 28 , 2016 | 12:09 ص</h4>
                                    <p>
                                        ستاندرد آند بورز تجرد بريطانيا من تصنيفها الممتاز
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=311014" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab5/4.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 10:00 م</h4>
                                    <p>
                                        أسهم أوروبا تواصل سقوطها… والبنوك تفقد خمس قيمتها في يومين
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310998" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab5/5.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 9:26 م</h4>
                                    <p>
                                        هل “خروج بريطانيا” بداية لتفكك الاتحاد الاوروبي؟
                                    </p>
                                </td>
                            </tr>
                            <tr class="tr" align="right">
                                <td class="large-3">
                                    <a href="http://www.cnbcarabia.com/?p=310992" target="_blank"><img src="../Materials/UTMS/Video/Images/Tab5/6.jpg" /></a>
                                </td>
                                <td>
                                    <h4>الأثنين. يونيو 27 , 2016 | 9:11 م</h4>
                                    <p>
                                        الرابحون والخاسرون من “خروج بريطانيا”
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="anchor6" class="content">
            <div class="GridLargWrapper">
                <div class="Row">
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td>
                                    <video class="W100PersentHomeVideo" controls>
                                        <source src="../Materials/UTMS/Video/joe1.mp4" type="video/mp4">
                                        <source src="../Materials/UTMS/Video/joe1.ogg" type="video/ogg">
                                    </video>
                                    <h4>الاثنين يونيو 27 , 2016</h4>
                                    <p>
                                        يوسف قسنطيني وتحليل سوق الاسهم السعودي ومدي تأثره بخروج بريطانيا
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td>
                                    <video class="W100PersentHomeVideo" controls>
                                        <source src="../Materials/UTMS/Video/Brexit.mp4" type="video/mp4">
                                        <source src="../Materials/UTMS/Video/Brexit.ogg" type="video/ogg">
                                    </video>
                                    <h4>الأحد يونيو 26 , 2016</h4>
                                    <p>
                                        تداعيات خروج بريطانيا على دول الخليج
                                    </p>
                                </td>
                            </tr>


                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td>
                                    <video class="W100PersentHomeVideo" controls>
                                        <source src="../Materials/UTMS/Video/joe%202.mp4" type="video/mp4" />
                                        <source src="../Materials/UTMS/Video/joe%202.ogg" type="video/ogg">
                                    </video>
                                    <h4>الأحد أغسطس 7 , 2016</h4>
                                    <p>
                                        يوسف قسنطيني وأداء السوق
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td>
                                    <video class="W100PersentHomeVideo" controls>
                                        <source src="../Materials/UTMS/Video/Joe%204.mp4" type="video/mp4" />
                                        <source src="../Materials/UTMS/Video/Joe%204.ogg" type="video/ogg">
                                    </video>
                                    <h4>الخميس أغسطس 11 , 2016</h4>
                                    <p>
                                        يوسف قسنطيني وأداء السوق السعودي
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="large-6 column">
                        <table border="0" cellpadding="0" cellspacing="0" class="HomeTapsImg">
                            <tr class="tr" align="right">
                                <td>
                                    <video class="W100PersentHomeVideo" controls>
                                        <source src="../Materials/UTMS/Video/skynews.mp4" type="video/mp4" />
                                        <source src="../Materials/UTMS/Video/skynews.ogg" type="video/ogg">
                                    </video>
                                    <h4>الثلاثاء أغسطس 23 , 2016</h4>
                                    <p>
                                        المحلل المالي و الفني يوسف قسنطيني وأداء السوق السعودي
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
