<div style="position: relative;overflow-y: auto;">
    <ul class="tabs" data-tab>

        <li class="tab-title active" id="li7">
            <a ng-click="gotoAnchorShare(7)">الأسهم الأكثر نشاطأ</a>
            <div class="Clear"></div>
        </li>
        <li class="tab-title" id="li8">
            <a ng-click="gotoAnchorShare(8)">الاسهم الرابحة</a>
            <div class="Clear"></div>
        </li>
        <li class="tab-title" id="li9">
            <a ng-click="gotoAnchorShare(9)">الاسهم الخاسرة</a>
            <div class="Clear"></div>
        </li>
    </ul>

    <div class="tabs-content">
        <div id="7" class="content active">
            <div class="GridLargWrapper">
                <div class="Clear H5"></div>
                <h2>الأسهم الأكثر نشاطأ</h2>
                <div class="Clear H5"></div>
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                    <tbody>
                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Saudi-Arabia16.png"></td>
                            <td>السعودية</td>
                            <td width="20%" class=" red">85.13</td>
                            <td> 374.68  </td>
                            <td><img class="img" src="../Materials/UTMS/Images/up.png"></td>
                            <td>0.92 %</td>
                        </tr>

                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                            <td>دبي</td>
                            <td class="red">374</td>
                            <td>85.13</td>
                            <td>  <img class="img" src="../Materials/UTMS/Images/down.png"> </td>
                            <td>0.92 %</td>
                        </tr>

                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                            <td>أبو ظبي</td>
                            <td class="green">14.152</td>
                            <td> 374.68  </td>
                            <td class="red"><img class="img" src="../Materials/UTMS/Images/up.png"></td>
                            <td>0.92 %</td>
                        </tr>
                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Kuwait16.png"></td>
                            <td>الكويت</td>
                            <td class="red">14.152</td>
                            <td> 374.68  </td>
                            <td class="red"><img class="img" src="../Materials/UTMS/Images/down.png"></td>
                            <td>0.92 %</td>
                        </tr>
                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Qatar16.png"></td>
                            <td>قطر</td>
                            <td class="green">14.152</td>
                            <td> 374.68  </td>
                            <td class="red"><img class="img" src="../Materials/UTMS/Images/up.png"></td>
                            <td>0.92 %</td>
                        </tr>
                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Oman16.png"></td>
                            <td>مسقط</td>
                            <td class="red">14.152</td>
                            <td> 374.68  </td>
                            <td class="red"><img class="img" src="../Materials/UTMS/Images/down.png"></td>
                            <td>0.92 %</td>
                        </tr>
                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Bahrain16.png"></td>
                            <td>البحرين</td>
                            <td class="red">14.152</td>
                            <td> 374.68  </td>
                            <td class="red"><img class="img" src="../Materials/UTMS/Images/down.png"></td>
                            <td>0.92 %</td>
                        </tr>
                        <tr class="tr" align="right">
                            <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Egypt16.png"></td>
                            <td>مصر</td>
                            <td class="green">14.152</td>
                            <td> 374.68  </td>
                            <td class="red"><img class="img" src="../Materials/UTMS/Images/up.png"></td>
                            <td>0.92 %</td>
                        </tr>

                    </tbody>
                </table>
                <div class="Clear H5"></div>
            </div>
            <div class="Clear H5"></div>

        </div>
        <div id="8" class="content">
            <div class="GridLargWrapper">
                <div class="Clear H5"></div>
                <h2>الاسهم الرابحة</h2>
                <div class="Clear H5"></div>
                This is the second panel of the basic tab example. This is the second panel of the basic tab example.
                <div class="Clear H5"></div>
            </div>
            <div class="Clear H5"></div>
        </div>
        <div id="9" class="content">
            <div class="GridLargWrapper">
                <div class="Clear H5"></div>
                <h2>الاسهم الخاسرة</h2>
                <div class="Clear H5"></div>
                This is the second panel of the basic tab example. This is the second panel of the basic tab example.
                <div class="Clear H5"></div>
            </div>
            <div class="Clear H5"></div>
        </div>
        <div class="Clear"></div>
    </div>

    <div class="Clear"></div>

</div>