@using BCMS.Models;
@model Activity_Year
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui-dialog-buttonset button').addClass('btn btn-primary12 btn-sm');
    });
</script>
<div style=" text-align: center;width:82%">
    <div class="box col-md-8" style="width:121%;text-align: center">
        <div class="box-content" style="width:100%;">
            <div class="form-group">
                <label for="exampleInputEmail1">النشاط</label>
                <input name="ActivityID" class="form-control" type="text" disabled="disabled" value="@Model.ActivityId" />
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">السنة</label>
                <input name="YearID" class="form-control" type="text" disabled="disabled" value="@Model.YearId" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">قيمة النشاط</label>
                <input name="ValueActi" class="form-control" type="text" disabled="disabled" value="@Model.ActivityValue" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">قيمة النشاط الحالي</label>
                <input name="CurrentActiv" class="form-control" type="text" disabled="disabled" value="@Model.CurrentActivityValue" />
            </div>
        </div>
    </div>
</div>