
<div class="RegisterWrapper">
    <h1 class="Spec InnerPage">وسع ثقافتك </h1>
    <div class="large-12 columns">
        <div class="large-12 column">
            <div class="acc-container">
                
                <div style="margin: 1em 0;">

                    <ul class="tabs">
                        <li class="tab-title" ng-repeat="know in knowledges" id="tab{{$index}}" ng-class="{'active':$index==0}">
                        
                            <a ng-click="gotoAnchor($index)">{{know.KnowledgeTitle}}</a>
                        </li>
                    </ul>

                    <div class="tabs-content">
                        <div class="content" id="{{$index}}" ng-repeat="know in knowledges" ng-class="{'active':$index==0}">
                            <p ng-repeat="Spec in know.informatoins" style="margin-right:10px; font-size:14px;">{{Spec}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="clear H10"></div>
</div>
