/* 
    Document   : style
    Created on : 07-Mar-2013, 15:08:57
    Author     : Ray Hammond
    Description:
        CSS styles for a matching game written using HTML5.
*/
@import url("Font/stylesheet.css");
@font-face {
	font-family: "Hacen Liner Screen";
        src: url("FontAr/hacen_liner_screen.eot"); /* IE 9 */
        src: url("FontAr/hacen_liner_screen.eot?") format("eot"), /* IE 6-8 */
             url("FontAr/hacen_liner_screen.otf") format("opentype"), /* Other browsers */
             url("FontAr/hacen_liner_screen.ttf") format("truetype"); /* Safari, Android, iOS */
}

img{
    border: 0;
}

hr{border-bottom: 1px solid #14293f;
   padding: 0;
   margin: 0;
   height: 1px;
}

.FontAr
{
    font-family: 'Hacen Liner Screen';
    color: yellow;
}
.Fsize2{font-size: 12px;}
.Fsize3{font-size: 13px;}
.Fsize4{font-size: 14px;}
.Fsize5{font-size: 15px;}
.Fsize6{font-size: 16px;}
.Fsize7{font-size: 17px;}
.Fsize8{font-size: 18px;}
.Fsize9{font-size: 19px;}
.Fsize01{font-size: 20px;}

.Color3{color: #62a0e1;}

.WidthTwoNum
{
    position: absolute;
	padding: 0px 0px;
    top:27%;
    bottom: 0;
    left: 93%;
    right: 0;

    margin: auto;
	overflow: hidden;

    width: 50px;
}
.WidthThreeNum
{
    width: 120px;
    text-align: right;
    margin: 0px 0 0px 10px;
}
root { 
    display: block;
}
.CircleRad90
{    
    margin: 16px 0 0 16px;
    overflow: hidden;
    height: 148px;
    width: 148px;
    -webkit-border-radius: 90px;
-moz-border-radius: 90px;
border-radius: 90px;
}

body {
	margin: 0px;
	padding: 0px;
	border-color: #000;
}
.Left {
    float: left;
}
.Right {
    float: right;
}
.Clear {
    clear: both;
}

.FontOne
{    
    font-family: '6809_chargenregular';
    font-size: 25px;
    color: #FFF;
}

#background {
	background: url(/Areas/Games/SImages/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#midground {
	background: url(/Areas/Games/SImages/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#foreground {
	background: url(/Areas/Games/SImages/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
}





#page-wrap {
	width: 688px;
    height: 628px;
	
	/*position: relative;*/
	z-index: 300;
	background: rgba(0,0,0,0.7);
	
	border: 1px solid #0084aa;

    position: absolute;
	padding: 0px 0px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	overflow: hidden;
}

.NumOne
{
    font-family: '6809_chargenregular';
    font-size: 25px;
    color: #547f25;
}




.NormalLink
{
    cursor: pointer;
    display: block;
    
    font-family: '6809_chargenregular';
    font-size: 25px;
    color: #547f25;
    text-decoration: none;

    height: 30px;

    padding: 5px 10px 5px 10px;
}
.NormalLink:hover
{ 
    color: yellow;

    background-color: none;

    background: rgb(18,45,65); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMmQ0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDE0MWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(18,45,65,1) 0%, rgba(0,20,26,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,45,65,1)), color-stop(100%,rgba(0,20,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122d41', endColorstr='#00141a',GradientType=0 ); /* IE6-8 */

  
    border: 0px solid #91999b;
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}


.NormalLinkTwo
{
    cursor: pointer;
    display: block;
    
    font-family: "Hacen Liner Screen";
    font-size: 22px;
    color: #547f25;
    text-decoration: none;

    height: 30px;

    padding: 5px 10px 5px 10px;
}
.NormalLinkTwo:hover
{ 
    text-decoration: none;
    color: #a2ff3d;
}


.NormalLink a
{ 
    cursor: pointer;
    display: block;
    
    font-family: '6809_chargenregular';
    font-size: 25px;
    color: #547f25;
    text-decoration: none;

    height: 30px;

    padding: 5px 10px 5px 10px;
}
.NormalLink a:hover
{ 
    color: yellow;

    background-color: none;

    background: rgb(18,45,65); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMmQ0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDE0MWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(18,45,65,1) 0%, rgba(0,20,26,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,45,65,1)), color-stop(100%,rgba(0,20,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122d41', endColorstr='#00141a',GradientType=0 ); /* IE6-8 */

  
    border: 0px solid #91999b;
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.NormalLink:hover
{ 
    color: yellow;

    
    border: 0px solid #91999b;
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;

}


.BgTopOne
{
    width: 100%;
    height: 20px;
    background-color: rgba(0, 132, 170, 0.5);
    color: rgba(0, 132, 170, 0.5);
}

.Setting
{
    cursor: pointer;
    display: block;
    
    font-family: "Hacen Liner Screen";
    font-size: 20px;
    color: #547f25;
    text-decoration: none;

    margin: 10px 0 0 10px;
    padding: 7px 10px 7px 10px;
}
.Setting:hover
{
    color: yellow;
    
    border: 0px solid #91999b;
    text-decoration: none;
    color: #a2ff3d;

}

.Setting a
{
    cursor: pointer;
    display: block;
    
    font-family: '6809_chargenregular';
    font-size: 25px;
    color: #547f25;
    text-decoration: none;

    height: 30px;

    padding: 5px 10px 10px 10px;
}
.Setting a:hover
{
    color: yellow;

    background-image: url(/Areas/Games/SImages/bg_setting.png);
  background-position: right top;
  background-repeat: no-repeat;

}

.SCORESPEEDCONTAINER
{
    width: 250px;
    margin: auto;
}

.Lives
{
    padding: 10px 55px 0 10px;
}

.Score
{
    font-family: '6809_chargenregular';
    font-size: 17px;
    color: #f45a00;
    padding: 0;
    margin: 0;
}
.Score span
{
    display: inline-block;
    position: absolute;
    margin: 0 0 0 0px;
    padding: 0;
    right: 46%;
    top: 0;
}

.ScoreResault
{
    width: 113px;
    height: 100px;
    text-align: right;

    position: relative;
    display: block;

    top: 42%;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 0px 0 0 0;
    margin: 0px 50px 0 0;
}

.SpeedResault
{
    width: 113px;
    height: 100px;
    text-align: right;

    position: relative;
    display: block;

    top: -3%;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 0px 0 0 0;
    margin: 0px 0 0 50px;

    background-image: url(/Areas/Games/SImages/speedcounterBG.png);
  background-position: center bottom;
  background-repeat: no-repeat;

}

.SpeedResaultArrow
{
    position: relative;
    display: block;

    top: 48%;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 0px 0 0 0;
    margin: 0px 0px 0 43px;

    width: 28px;
    height: 85px;
}
.SpeedResaultBullet
{
    position: relative;
    display: block;

    top: 20%;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 0px 0 0 0;
    margin: 0px 42px 0 0px;
}

.BgTopTwo
{
    margin: -36px auto;
    width: 364px;
    height: 100px;
    background-image: url(/Areas/Games/SImages/bgCenter.png);
  background-position: center top;
  background-repeat: repeat-x;
}




#tooltip
{
    padding: 5px 10px;
    width: auto;
    min-width:100px;
    height: auto;
    /*min-height:30px;*/
    font-family:Tahoma;
    line-height: 18px;
    font-size:12px;
    color: #000000;
    background-color: #e5f2ff;
    /*opacity: .7;*/
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    border:1px solid #b1cfed;
    font-weight:normal;
    text-align: center;
    z-index: 2;
}

.BackGrid
{
    position: absolute;
    padding: 0px 0px;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
	overflow: hidden;
    
    display: block;
    
    width: 688px;
    height: 495px;
    font-family:Arial;
}

.BackCanvesContainer
{
    position: absolute;
	padding: 0px 0px;
    top:-5%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	overflow: hidden;
    
    display: block;
    z-index: 1;

    
    width: 688px;
    height: 558px;
}
.BackCanvesContainerBG
{
    position: relative;
	padding: 0px 0px;
    top:-6.3%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	overflow: hidden;
    
    display: block;

    width: 364px;
    height: 100px;
    background-image: url(/Areas/Games/SImages/bgCenter.png);
  background-position: center top;
  background-repeat: repeat-x;
}


.BgTopBanner
{
    position: absolute;
	padding: 0px 0px;
    top:-83%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	overflow: hidden;
    
    display: block;
    z-index: 2;

    
    width: 688px;
    height: 64px;
    border-bottom: 1px solid #3e5056;

    color: rgba(0, 132, 170, 0.1);
}
.BgBottom
{
    position: absolute;
	padding: 4px 0px 0 0;
    top:92%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	overflow: hidden;
    
    display: block;
    z-index: 5;

    width: 688px;
    height: 43px;
    border-top: 1px solid #0084aa;
    background-color: rgba(0, 132, 170, 0.1);
    color: rgba(0, 132, 170, 0.1);
   
}

.PlanWrapper
{
    
}
.PlanContainerOne
{
    position: absolute;
	padding: 0px 0px;
    top:79%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	overflow: hidden;
    
    display: block;
    z-index: 15;

    width: 127px;
    height: 37px;
}
.PlanContainer
{
    display: block;
    margin: 0px auto;
    padding: 40px 0 0 0;
    height:100px;
}



.BulletsContainerIntro
{
    clear: both;
    margin: 0px 0 0 0;padding: 0;
}
.BulletsContainerIntro ul
{
    margin: 0;padding: 0;
}
.BulletsContainerIntro ul li
{
    padding: 7px 10px 7px 0px;
    margin: 0;
    display: inline-block;
    list-style: none;
    float: right;
}
.BulletsContainerIntro ul li div.Block
{
    width: 80px;
    text-align: center;
    padding: 0px 0px 0 0px;
    margin: 0px 0 0 0;
    font-family: '6809_chargenregular';
    font-size: 22px;
    color: #FFF;
    margin: 0;padding: 0;
    border: 1px solid #91999b;
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.BulletsContainerIntro ul li div.Block img
{
    padding: 4px 0 0 0;
    margin: 0px 0 0 0;
    height: 30px;
}
.BulletsContainerIntro ul li div.Block img
{
}



.BulletsContainer
{
    clear: both;
    margin: 0px 0 0 0;padding: 0;
}
.BulletsContainer ul
{
    margin: 0;padding: 0;
}
.BulletsContainer ul li
{
    margin: 0;padding: 1px 0 0 10px;
    display: inline-block;
    list-style: none;
    float: left;
}
.BulletsContainer ul li.LastItem
{
    padding: 7px 10px 7px 0px;
    float: right;
}
.BulletsContainer ul li div.Block
{    
    cursor: pointer;
    display: block;
    
    font-family: '6809_chargenregular';
    text-decoration: none;

    width: 80px;
    text-align: center;
    padding: 0px 0px 0 0px;
    margin: 0px 0 0 0;
    font-family: '6809_chargenregular';
    font-size: 22px;
    color: #FFF;
    margin: 0px 0 0 0;padding: 0;
    border: 1px solid #14293f;

    background-color: #14293f;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.BulletsContainer ul li div.Block:hover
{
    color: yellow;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    

    background-image: url(/Areas/Games/SImages/bg_setting.png);
  background-position: center top;
  background-repeat: no-repeat;
}
.BulletsContainer ul li div.Blockselection
{  

    display: block;
    
    font-family: '6809_chargenregular';
    text-decoration: none;

    width: 80px;
    text-align: center;
    padding: 0px 0px 0 0px;
    margin: 0px 0 0 0;
    font-family: '6809_chargenregular';
    font-size: 22px;
    color: green;
    margin: 0px 0 0 0;padding: 0;
    border: 1px solid #9c9c9c;
background: rgb(20,41,63); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MjkzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODExMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(20,41,63,1) 0%, rgba(8,17,27,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,41,63,1)), color-stop(100%,rgba(8,17,27,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(20,41,63,1) 0%,rgba(8,17,27,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(20,41,63,1) 0%,rgba(8,17,27,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(20,41,63,1) 0%,rgba(8,17,27,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(20,41,63,1) 0%,rgba(8,17,27,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14293f', endColorstr='#08111b',GradientType=0 ); /* IE6-8 */

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


.BulletsContainer ul li div.Block img
{
    padding: 2px 0 0 0;
    margin: 0px 0 0 0;
    height: 28px;
}
.BulletsContainer ul li div.Blockselection img
{
    padding: 2px 0 0 0;
    margin: 0px 0 0 0;
    height: 28px;
}

.BulletsContainer ul li.LastItem div.Block img
{
    height: 15px;
}

.BulletsContainer ul li div.Block a
{
    cursor: pointer;
    display: block;
    
    font-family: '6809_chargenregular';
    font-size: 25px;
    color: #FFF;
    text-decoration: none;

    padding: 0;
}
.BulletsContainer ul li div.Block:hover
{
    color: yellow;   
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;   

    background: rgb(18,45,65); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMmQ0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDE0MWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(18,45,65,1) 0%, rgba(0,20,26,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,45,65,1)), color-stop(100%,rgba(0,20,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(18,45,65,1) 0%,rgba(0,20,26,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122d41', endColorstr='#00141a',GradientType=0 ); /* IE6-8 */

}

.Container {
    position: relative;
	padding: 0px 0px;
    top: 10.6%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    margin: auto;
	overflow: hidden;
    
    display: block;
    
    width: 688px;
    height: 495px;
}
.ContainerTwo {
}

.IntroLayer
{
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 495px;
    display: block;
    z-index: 2;
    position: fixed;
}


.ContainerInnerLayer 
{
    position: fixed;
	padding: 85px 0px 0 0;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;

    margin: auto;
	overflow: hidden;
    
    display: block;

    width: 688px;
    height: 540px;
}

.ContainerInnerLevels {
    display: block;
    z-index: 2;
    position: fixed;
    width: 635px;
    height: 460px;
    margin: 5px 0 0 16px;
    padding: 5px 10px 15px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    background-color: rgba(0, 132, 170, 0.1);
    -webkit-box-shadow: 0 3px 3px 3px #000000;
    box-shadow: 0 3px 3px 3px #000000;
}

.ListContainer
{
    padding: 5px;
    min-height: 365px;
    
    background-color: #000506;
    border: 1px dotted #b6daff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ListContainerHidden
{
    color: #3d3d3d;
    padding: 5px;
    min-height: 365px;
    
    background-color: #000506;
    border: 1px dotted #b6daff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ContainerInnerContainer {
	
    margin: 0 0;
    width: 100%;
    height: 91.2%;
    
    position: relative;
}
.ContainerInner {
    width: 200px;

    position:absolute;

    top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px;
}
.ContainerInner ul
{
    margin: 0;padding: 10px;
    border: 1px solid #0084aa;
    background-image: url(/Areas/Games/SImages/bg_Bottom.png);
  background-position: center top;
  background-repeat: repeat;
}
.ContainerInner ul li
{
    margin: 0;padding: 10px 0 10px 0px;
    text-align: center;
    list-style: none;
    border-bottom: 1px dashed #494949;
}
.ContainerInner ul li.LastItem
{
    border-bottom: 0px dashed #494949;
}
.ContainerInner ul li a
{    
    font-family: '6809_chargenregular';
    font-size: 30px;
    color: #547f25;
    text-decoration: none;
}
.ContainerInner ul li:hover
{
    text-decoration: none;
    color: #a2ff3d;
}
.ContainerInner ul li a:hover
{
    text-decoration: none;
    color: #a2ff3d;
}

.ContainerInnerLarge {
    width: 200px;

    position:absolute;

    top: 43.4%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px;
}
    .ContainerInnerLarge ul {
        margin: 0;
        padding: 10px;
        border: 1px solid #0084aa;
        background-image: url(/Areas/Games/SImages/bg_Bottom.png);
        
        background-position: center top;
        background-repeat: repeat;
    }
.ContainerInnerLarge ul li
{
    margin: 0;padding: 10px 0 10px 0px;
    text-align: center;
    list-style: none;
    border-bottom: 1px dashed #494949;
}
.ContainerInnerLarge ul li.LastItem
{
    border-bottom: 0px dashed #494949;
}
.ContainerInnerLarge ul li a
{    
    font-family: '6809_chargenregular';
    font-size: 30px;
    color: #547f25;
    text-decoration: none;
}
.ContainerInnerLarge ul li:hover
{
    text-decoration: none;
    color: #a2ff3d;
}
.ContainerInnerLarge ul li a:hover
{
    text-decoration: none;
    color: #a2ff3d;
}



.RadarBg
{
    width: 180px;
    height: 180px;
    background-image: url(/Areas/Games/SImages/radar.png);
  background-position: center top;
  background-repeat: no-repeat;
}

div.Container_Inner {
    width: 570px;
    margin: 0 auto;
}
.BoardContainer
{
    background-color: #000;
	padding-top: 0px;
    width: 568px;
    height: 448px;
    border: 1px solid #b6daff;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.BoardContainer_Data
{
    background-color: #FFF;
	padding: 10px;
    width: 548px;
    min-height: 448px;
    border: 1px solid #b6daff;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#startGameButton
{
	font-family:Arial; /*'Cherry Swash', cursive;*/
	font-weight: 400;
	color: rgb(20, 166, 0);
	
	font-weight: 400;
	color: rgb(20, 166, 0);
	padding-bottom: 10px;
	display: block;
}


.PageTitle_new
{
    text-align: center;
    margin: 0 auto;
    padding: 17px 20px 17px 20px;
    color: #FFF;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;

    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

   background: #4096ee; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwOTZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YWJjZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4096ee 0%, #7abcff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#7abcff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4096ee 0%,#7abcff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4096ee 0%,#7abcff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4096ee 0%,#7abcff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4096ee 0%,#7abcff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=0 ); /* IE6-8 */


}
.tile {
	float:left;
	width: 100px;
	height: 100px;
	margin-left: 11px;
	margin-bottom: 10px;
	border: 0px solid #cfcfcf;
	cursor: pointer;
     
}

.tile img {
	display: block;
	margin: 0 auto;
	padding-top: 0px;
	width: 100%;
    height:100%;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.tileColor1 {
    /*background-color: rgb(176, 235, 23);*/
    /*background-image: url('/logo/logo04.png');*/
    background-image: url('../logo/logo04.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.tileColor2 {
	 background-color: rgb(57, 171, 62);
}

.tileColor3 {
	 background-color: rgb(130, 189, 46);
}

.tileColor4 {
	 background-color: rgb(200, 217, 126);
}


.tileColor5 {
}
div.one {
  width: 60px;
  float: left;
}

div.two {
  margin-left: 60px;
}



.TxtBx_One
{    
    display: block; 
    position: fixed;

    width: 115px;
    height: 17px;

    font-family: '6809_chargenregular';
    font-size: 20px;
    color: #004255;
    text-align: center;

    z-index: 6;
    margin: -3px 0 0 0;
    overflow: hidden;
    padding: 10px 5px;

    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: #FFF;

    border: 1px solid #0084aa;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;

    /*-webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;*/
}

.Button_One
{    
    min-width: 250px;
    cursor: pointer;
    text-decoration: none;
    color: #FFF !important;
    font-size: 22px !important;
    font-family: Arial !important;
    font-weight: bold !important;
    display: block;
    text-align: center;
    background-color: #e50f09;
    padding: 15px 10px 15px 10px;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    }
.Button_One a
{
    text-decoration: none;
    color: #FFF !important;
    font-family: Arial;
    font-weight: bold;

    }
.Button_One:hover
{
    background-color: #347d25;
    text-decoration: none;
    color: #c2c016 !important;

    }

.Button_LogOut
{     
    min-width: 250px;
    cursor: pointer;
    text-decoration: none;
    color: #FFF !important;
    font-family: Arial !important;
    font-size: 22px !important;
    font-weight: bold !important;
    display: block;
    text-align: center;
    background-color: #e50f09;
    padding: 15px 70px 15px 10px;
    border: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
  background-image: url(/Areas/Games/SImages/logout.png);
  background-position: 130px 0;
  background-repeat: no-repeat;
    }
.Button_LogOut a
{
    text-decoration: none;
    color: #FFF !important;
    font-family: Arial;
    font-weight: bold;

    }
.Button_LogOut:hover
{
    background-color: #347d25;
    text-decoration: none;
    color: #c2c016 !important;

    }

.CompanyLink
{    
    cursor: pointer;
    text-decoration: none;
    color: #e50f09 !important;
    font-family: Arial !important;
    font-size: 18px !important;
    font-weight: bold !important;
    display: block;
    text-align: left;
    }
.CompanyLink a
{
    text-decoration: none;
    color: #e50f09 !important;
    font-family: Arial;
    font-weight: bold;

    }
.CompanyLink:hover
{
    text-decoration: none;
    color: #c2c016 !important;

    }

.TimeContainer
{
    color: #949494 !important;
    font-family: Arial !important;
    font-weight: bold !important;
    display: block;
    text-align: center;
    background-color: #f4f9ff;
    border: 2px solid #86c2ff;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}
.TimeContainer_NUM
{
    color: #347d25 !important;
    font-family: Arial !important;
    font-weight: bold !important;
    font-size: 22px !important;

}
.NumBullet
{
    color: #949494 !important;
    font-family: Arial !important;
    font-weight: bold !important;
    display: block;
    text-align: center;
    background-color: #fff;
    border: 2px solid #86c2ff;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}


.TBLcontainer
{
    border: 1px solid #eeeeee;
    padding: 10px 0 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.TBLrow
{
    background-color: #eeeeee;
}
.TBLaltrow
{
background-color: #f9f9f9;
}

.SpeedCounterCanv
{
    width: 113px;
    height: 60px;
    z-index: 7;
}

.LeftList
{
height: 420px;
}
.RightList
{
    height: 420px;
}






@media only screen and (max-width: 995px) {
 body{}
}

@media only screen and (max-width: 767px) {
 body{}
}

@media only screen and (max-width: 479px) {
 body{}
}


.RadioWrraper input[type=radio] {
    padding-left:0px;
    padding-right:0px;
    border-radius:7px;

    -webkit-appearance:button;

    white-space: nowrap;
    overflow:hidden;
    padding: 4px;
    background-color: #FFF;

    width:25px;
    height:25px;
}


.RadioWrraper input[type=radio]:checked {
    background-color:#62a0e1;
    padding: 4px;
}

.RadioWrraper input[type=radio]:hover {
    box-shadow:0px 0px 10px #1300ff;
}


.RadioWrraperSmall input[type=radio] {
    padding-left:0px;
    padding-right:0px;
    border-radius:7px;

    -webkit-appearance:button;

    white-space: nowrap;
    overflow:hidden;
    padding: 4px;
    background-color: #FFF;

    width:15px;
    height:15px;
}


.RadioWrraperSmall input[type=radio]:checked {
    background-color:#62a0e1;
    padding: 4px;
}

.RadioWrraperSmall input[type=radio]:hover {
    box-shadow:0px 0px 10px #1300ff;
}






.RadioWrraper input[type=checkbox] {
    padding-left:0px;
    padding-right:0px;
    border-radius:2px;
    background-color: #FFF;

    -webkit-appearance:button;
    white-space: nowrap;
    overflow:hidden;
    padding: 1px;

    width:15px;
    height:15px;
}

.RadioWrraper input[type=checkbox]:checked {
    padding: 1px;
    background-color: green;
    border-radius:2px;
}

.RadioWrraper input[type=checkbox]:checked:disabled {
    padding: 1px;
    background-color: #639062;
    border-radius:2px;
}

.RadioWrraper input[type=checkbox]:hover {
    box-shadow:0px 0px 10px #1300ff;
}



.RadioWrraper input[type=checkbox]:disabled {
    padding: 1px;
    background-color: #3d3d3d;
    border-radius:2px;
    border: 1px solid #205e71;
}




.speedBtn{
    font-size:22pt ; 
    line-height:28px;
    color: #547f25;
    text-decoration:none ; 
    cursor :pointer; 
    font-family:Tahoma;
    padding: 0px 0px 0px 4px;
    width:26px;
    height:30px;
    display:block;
    border:1px solid #547f25;
    -webkit-border-radius: 90px 90px 90px 90px;
     border-radius: 90px 90px 90px 90px;

} 

.speedBtn:hover
{
    color: #a2ff3d;
    border:1px solid #a2ff3d;

} 

.speedMINBtn{
    font-size:22pt ; 
    line-height:28px;
    color: #547f25;
    text-decoration:none ; 
    cursor :pointer; 
    font-family:Tahoma;
    padding: 0px 9px 0px 0px;
    width:21px;
    height:30px;
    display:block;
    border:1px solid #547f25;
    -webkit-border-radius: 90px 90px 90px 90px;
     border-radius: 90px 90px 90px 90px;

} 

.speedMINBtn:hover
{
    color: #a2ff3d;
    border:1px solid #a2ff3d;

} 


.ContainerInnerPobUp {
    direction: rtl;
    display: block;
    position: fixed;
    width: 435px;
    margin: 5px 0 0 116px;
    padding: 5px 10px 15px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    background-color: rgba(0, 132, 170, 0.1);
    -webkit-box-shadow: 0 3px 3px 3px #000000;
    box-shadow: 0 3px 3px 3px #000000;
}
.ContainerInnerPobUp h2 {
    direction: rtl;
    text-align: center;
    font-size: 24px;
    color: #62a0e1;
    font-family: "Hacen Liner Screen";
    border-bottom: 1px solid #14293f;
}
.ContainerInnerPobUp p {
    direction: rtl;
    text-align: justify;
    font-size: 14px;
    color: #FFF;
    font-family: Tahoma;
}


.Logo
{
    display: inline-block;
    z-index: 200;
    width: 215px;
    height: 20px;
    background-image: url(/Areas/Games/SImages/LogoTop.png);
    background-repeat:no-repeat;
    margin-top:1px;
}

.allSectorDisabled
{
    color: #3d3d3d;
}

