@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div class="RegisterWrapper">
    <h1 class="Spec InnerPage">
        أخضر & أحمر
    </h1>

    <div class="clear H10"></div>
    <div style="text-align: center"><img src="~/Materials/UTMS/img/RedBlue.jpg" width="65%" /></div>
    
    <div class="clear H10"></div>
</div>
