@{
    ViewBag.Title = "Index";
    Layout = null;
}


    <style type="text/css">
        .iframe {
            background-color: #fff;
            border: 1px solid black;
            border-radius: 10px;
            width: 92%;
            height: 85%;
        }

        .icontiner {
            text-align: center;
            margin-top: 10px;
        }

        #ifContent::-webkit-scrollbar {
            width: 10px;
            background-color: #000000;
            border: none;
        }

        #ifContent::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 10px;
        }

            #ifContent::-webkit-scrollbar-thumb:hover {
                background-color: #6d6d6d;
                border: 1px solid #333333;
            }

            #ifContent::-webkit-scrollbar-thumb:active {
                background-color: #333333;
                border: 1px solid #333333;
            }

        #ifContent::-webkit-scrollbar-track {
            border: 1px gray solid;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 6px gray inset;
        }
    </style>

<div class="icontiner">
    <iframe id="ifContent" src="http://borsacapital.gulfbase.com/ar" class="iframe"></iframe>
</div>
