@{
    ViewBag.Title = "Home";
    //Layout = null;
}

<div class="large-12 columns">
    <div class="RegisterWrapper">
        <h1 class="Spec InnerPage">
            الألعاب التعليمية
            <div class="left"><a href="#" class="animated HomePicAnimated"><img src="/Materials/Games/Images/Grid/JoystickLap.png" /></a></div>
        </h1>
        <div class="H10"></div>
        <h3>
            هدف الألعاب التعليمية هو زيادة معلومات ومهارات المستخدمين في سوق الأسهم السعودية لكي يحققوا نقلة نوعية للوصول إلى مستوى الإحترافية
        </h3>
        <div class="H10"></div>


        <div>
            <section>
                <div class="wrapper">
                    <div class="color_blocks">
                        <div class="Htop3"></div>
                        <div class="container_16">
                            <div class="blocks">
                                <div class="subject_toggle flip-container One">
                                    <a href="@Url.Action("MemeoryGame", "Game")" target="_blank" class="flipper">
                                        <div class="front"><h3>لعبة الذكاء</h3></div>
                                        <div class="back"><span><img src="/Materials/Games/Images/HomeIcons/Memory.jpg" /></span></div>
                                    </a>
                                </div>
                                <div class="subject_toggle flip-container Two">
                                    <a href="@Url.Action("SpaceGame", "Game")" target="_blank" class="flipper">
                                        <div class="front"><h3>لعبة الفضاء</h3></div>
                                        <div class="back"><span><img src="/Materials/Games/Images/HomeIcons/Space.jpg" /></span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="Htop3"></div>
                    </div>
                </div>
            </section>
        </div>

        <!--START TABLE-->

        <div class="clear"></div>



    </div>
</div>
