
@{ 
    Layout = "~/Views/Shared/_LayoutCallBack.cshtml";
}

<h1>Hello @ViewBag.name</h1>

<div style="margin:10px;">
    <h2>Thank you for confirmation <a href="/#/Login"><i>please click here</i></a> to Login</h2>
</div>







