
@{
    Layout = "~/Views/Shared/_LayoutCallBack.cshtml";
    ViewBag.Title = "Reset password";
    string code = ViewBag.code;
}

<div class="row" ng-controller="ResetpasswordController">
    <!--START OUR CLIENTS-->
    <div ng-include="'../Angular/Sponsors.html'"></div>
    <!--END OUR CLIENTS-->
    <div class="large-10 column">
        <div class="RegisterWrapper">
            <h1 class="Spec InnerPage">
                {{resetPassword | translate}} 
                <div class="left"><img src="../Materials/Ar/images/Grid/Lock.png" /></div>
            </h1>
            <div class="H10"></div>

            <!--START TABLE-->
            <form name="ResetPasswordForm" ng-submit="Send(user)" novalidate ng-show="!submitted">
                <input type="hidden" ng-model="user.Code" name="Code" id="code" value="@code" />
                <div class="">
                    <div class="large-8 columns">
                        <div class="large-3 columns">
                            <label>{{email | translate}}</label>
                        </div>
                        <div class="large-9 columns">
                            <label>
                                <input type="email" ng-model="user.Email" name="email" id="email" ng-pattern="emailformat" placeholder="{{email | translate}}" ng-class="submitted?'ng-dirty':''" required autofocus />
                                <span class="error" ng-show="(clicked || ResetPasswordForm.email.$dirty) && ResetPasswordForm.email.$error.required">{{emailValidation | translate}}</span>
                                <span class="error" ng-show="ResetPasswordForm.email.$error.pattern">{{incorrectEmail | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">
                            <label>{{newPassword | translate}}</label>
                        </div>
                        <div class="large-9 columns">
                            <label>
                                <input type="password" name="password" ng-model="user.Password" ng-keyup="checkpw()"
                                       id="password"
                                       placeholder="{{newPassword | translate}}"  
                                       ng-class="submitted?'ng-dirty':''" 
                                       ng-minlength="6"
                                       ng-maxlength="30"
                                       required autofocus />
                                <span class="error" ng-show="(clicked || ResetPasswordForm.password.$dirty ) && ResetPasswordForm.password.$error.required">{{passwordValidation | translate}}</span>
                                <span class="error" ng-show="pwflag">{{pwfeedback | translate}}</span>

                                @*<span class="error" ng-show="ResetPasswordForm.password.$error.pattern">{{incorrectPassword | translate}}</span>
                                <span class="error" ng-show="ResetPasswordForm.password.$error.minlength">{{minLengthPassword | translate}}</span>
                                <span class="error" ng-show="ResetPasswordForm.password.$error.maxlength">{{maxLengthPassword | translate}}</span>*@
                            </label>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">
                            <label>{{confirmNewPassword | translate}}</label>
                        </div>
                        <div class="large-9 columns">
                            <label>
                                <input type="password" ng-model="user.ConfirmPassword" name="cPassword" compare-to="user.Password" placeholder="{{confirmNewPassword | translate}}" required ng-class="submitted?'ng-dirty':''" autofocus />
                                <span class="error" ng-show="(clicked || ResetPasswordForm.cPassword.$dirty ) && ResetPasswordForm.cPassword.$error.required">{{cPasswordValidation | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">&nbsp;</div>
                        <div class="large-9 columns">
                            <button type="submit" ng-click="clicked=true" class="button radius">{{sendbtn | translate}}</button>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">&nbsp;</div>
                        <div class="large-9 columns">
                            <span class="error" ng-show="validationSummary">{{message}}</span>
                        </div>
                    </div>
                </div>
            </form>

            <div ng-show="submitted">
                <h2 id="feedback"></h2>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>