@{
    ViewBag.Title = "StockUp";
    Layout = null;
}

<link href="~/Materials/UTMS/css/taps.css" rel="stylesheet" />
@*<script type="text/javascript">
        $(document).ready(function() {
            $('#tab1').click(function () {
                location.reload();
            });
        });
</script>*@


<div>
    <div class="large-12 columns">

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4> <img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Saudi-Arabia16.png"> السعودية </h4>
                <a href="#" title=""><img src="~/Materials/UTMS/Images/Chart.jpg" alt="" /></a>
                <hr />
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> الأسهم</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Saudi-Arabia16.png"></td>
                                <td>السعودية</td>
                                <td class=" red">85.13</td>
                                <td> 374.68  </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                    
                                <td>0.92 %</td>
                            </tr>

                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                                <td>دبي</td>
                                <td class="red">374</td>
                                <td>85.13</td>
                                <td>  <img class="img" src="~/Materials/UTMS/Images/down.png"> </td>
                                
                                <td>0.92 %</td>
                            </tr>

                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                                <td>أبو ظبي</td>
                                <td class="green">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Kuwait16.png"></td>
                                <td>الكويت</td>
                                <td class="red">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Qatar16.png"></td>
                                <td>قطر</td>
                                <td class="green">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Oman16.png"></td>
                                <td>مسقط</td>
                                <td class="red">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Bahrain16.png"></td>
                                <td>البحرين</td>
                                <td class="red">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr" align="right">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Egypt16.png"></td>
                                <td>مصر</td>
                                <td class="green">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.92 %</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> الطاقة</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">

                                <td>برنت </td>
                                <td>79.62</td>
                                <td> 0.06 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.08 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>نايمكس </td>
                                <td>75.86</td>
                                <td> 0.08 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.11 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>الغاز الطبيعي </td>
                                <td>4.33</td>
                                <td> 0.02 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.51 %</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> البتروكيماويات</h4>
                <div>

                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار اللقيم</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">

                                <td>النافتا</td>
                                <td>675.00</td>
                                <td> 35.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">5.47 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار المواد الأساسية ( اسيا )</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">
                                <td>الايثيلين</td>
                                <td>1,130.00</td>
                                <td> 50.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" red">4.24 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>البروبيلين </td>
                                <td>1,045.00</td>
                                <td> 95.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" red">8.33 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>MTBE  </td>
                                <td>915.00</td>
                                <td>85.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">10.24 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>البنزين   </td>
                                <td>995.00</td>
                                <td>55.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">5.85 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>الستايرين  </td>
                                <td>1,255.00</td>
                                <td>50.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">4.15 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>الميثانول (ميثانيكس) </td>
                                <td>435.00</td>
                                <td>0.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.00 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>الميثانول (الصين) </td>
                                <td>325.00</td>
                                <td>0.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.00 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> اسعار البوليمرز ( الخليج العربي )</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">

                                <td>HDPE (خليج)</td>
                                <td>1,400.0</td>
                                <td width="18%"> 65.0</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" red">4.44 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>LDPE (الخليج)</td>
                                <td>1,385.0</td>
                                <td width="18%"> 45.0 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" red">3.15%</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>LLDPE (الخليج) </td>
                                <td>1,385.0</td>
                                <td width="18%">35.0 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" green">2.46%</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>بولي بروبلين (الخليج)   </td>
                                <td>1,385.0</td>
                                <td width="18%">20.0 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">1.42%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار البوليمر (اّسيا )</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">

                                <td width="32%">HDPE</td>
                                <td>1,390.00</td>
                                <td> 75.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" red">5.12 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td width="32%">LDPE</td>
                                <td>1,390.00</td>
                                <td> 30.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" green">2.11 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td width="32%">LLDPE </td>
                                <td>1,390.00</td>
                                <td>30.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" green">2.11 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td width="32%">بولي بروبيلين</td>
                                <td>1,395.00</td>
                                <td>30.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">2.11 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td width="34%"> بولي كاربونيت (PCB)</td>
                                <td>2,650.00</td>
                                <td>0.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.00 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td width="32%">بولي ستايرين </td>
                                <td>1,415.00</td>
                                <td>50.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">3.41 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>PVC</td>
                                <td>930.00</td>
                                <td width="18%">35.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">3.63 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار المواد الوسيطة ( اسيا )</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">

                                <td>MEG ( سابك)</td>
                                <td>1,000.00</td>
                                <td width="18%">0.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" green">0.00 %</td>
                            </tr>
                            <tr class="tr" align="right" style="">

                                <td>MEG (فوري آسيا)</td>
                                <td>905.00</td>
                                <td width="18%"> 50.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" green">5.85 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>PTA </td>
                                <td>805.00</td>
                                <td width="18%">15.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" green">1.90 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار الأسمدة ( الشرق الأوسط )</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">

                                <td>DAP</td>
                                <td>490.0</td>
                                <td width="18%">0.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" green">0.00 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>امونيا</td>
                                <td>620.0</td>
                                <td width="18%">10.0 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" red">1.64 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>اليوريا</td>
                                <td>320.00</td>
                                <td width="18%">0.0</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" green">0.00 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> أسعار الـ TIO2</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">

                                <td>آسيا</td>
                                <td>2,750.0</td>
                                <td width="18%">0.00</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" green">0.00 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>اوروبا</td>
                                <td>2,885.0</td>
                                <td width="18%">0.00 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td class=" red">0.00 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>امريكا</td>
                                <td>3,465.0</td>
                                <td width="18%">0.0</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" green">0.00 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header" align="right"> المعادن الثمينة</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                            <tr class="tr" align="right">
                                <td>الذهب</td>
                                <td>1,199.90</td>
                                <td> 4.20 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.35 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>الفضه</td>
                                <td>16.60</td>
                                <td> 0.22 </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">1.34 %</td>
                            </tr>
                            <tr class="tr" align="right">

                                <td>البلاتين</td>
                                <td>1,217.30</td>
                                <td> 9.80</td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td class=" red">0.81%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="large-6 column">
            <div class="TikerChartWrapper">
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%" class="Empty">
                        <tr>
                            <td rowspan="4" style="vertical-align: middle">قطاعات السعودية</td>
                            <td>المدى</td>
                            <td>A</td>
                            <td>TI</td>
                            <td>IV</td>
                            <td>CE</td>
                            <td>IN</td>
                            <td>MI</td>
                            <td>MP</td>
                            <td>BC</td>
                            <td>RD</td>
                            <td>EU</td>
                            <td>TR</td>
                            <td>RE</td>
                            <td>PI</td>
                            <td>AF</td>
                            <td>BF</td>
                            <td>HT</td>
                        </tr>
                        <tr>
                            <td>القريب</td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                            <td><div class="c1"></div></td>
                        </tr>
                        <tr>
                            <td>المتوسط</td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                            <td><div class="c2"></div></td>
                        </tr>
                        <tr>
                            <td>البعيد</td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                            <td><div class="c3"></div></td>
                        </tr>
                    </table>
                </div>
                <a href="#" title=""><img src="~/Materials/UTMS/Images/Chart.jpg" alt="" /></a>
                <hr />

                <!--START-->
                <div style="position: relative">
                    <ul class="TabsNewS">
                        <li>
                            <input type="radio" name="tabs" id="tab1" checked />
                            <label for="tab1">الأسهم الأكثر نشاطأ</label>
                            <div id="tab-content1" class="tab-content">
                                <div class="GridLargWrapper">
                                    <div class="Clear H5"></div>
                                    <h2>الأسهم الأكثر نشاطأ</h2>
                                    <div class="Clear H5"></div>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                        <tbody>
                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Saudi-Arabia16.png"></td>
                                                <td>السعودية</td>
                                                <td width="20%" class=" red">85.13</td>
                                                <td> 374.68  </td>
                                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                                <td>0.92 %</td>
                                            </tr>

                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                                                <td>دبي</td>
                                                <td class="red">374</td>
                                                <td>85.13</td>
                                                <td>  <img class="img" src="~/Materials/UTMS/Images/down.png"> </td>
                                                <td>0.92 %</td>
                                            </tr>

                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                                                <td>أبو ظبي</td>
                                                <td class="green">14.152</td>
                                                <td> 374.68  </td>
                                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                                <td>0.92 %</td>
                                            </tr>
                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Kuwait16.png"></td>
                                                <td>الكويت</td>
                                                <td class="red">14.152</td>
                                                <td> 374.68  </td>
                                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                                <td>0.92 %</td>
                                            </tr>
                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Qatar16.png"></td>
                                                <td>قطر</td>
                                                <td class="green">14.152</td>
                                                <td> 374.68  </td>
                                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                                <td>0.92 %</td>
                                            </tr>
                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Oman16.png"></td>
                                                <td>مسقط</td>
                                                <td class="red">14.152</td>
                                                <td> 374.68  </td>
                                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                                <td>0.92 %</td>
                                            </tr>
                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Bahrain16.png"></td>
                                                <td>البحرين</td>
                                                <td class="red">14.152</td>
                                                <td> 374.68  </td>
                                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                                <td>0.92 %</td>
                                            </tr>
                                            <tr class="tr" align="right">
                                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Egypt16.png"></td>
                                                <td>مصر</td>
                                                <td class="green">14.152</td>
                                                <td> 374.68  </td>
                                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                                <td>0.92 %</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="Clear H5"></div>
                                </div>
                                <div class="Clear H5"></div>

                            </div>
                            <div class="Clear"></div>
                        </li>

                        <li>
                            <input type="radio" name="tabs" id="tab2" />
                            <label for="tab2">الاسهم الرابحة</label>
                            <div id="tab-content2" class="tab-content">
                                <div class="GridLargWrapper">
                                    <div class="Clear H5"></div>
                                    <h2>الاسهم الرابحة</h2>
                                    <div class="Clear H5"></div>
                                    This is the second panel of the basic tab example. This is the second panel of the basic tab example.
                                    <div class="Clear H5"></div>
                                </div>
                            </div>

                            <div class="Clear"></div>
                        </li>

                        <li>
                            <input type="radio" name="tabs" id="tab3" />
                            <label for="tab3">الاسهم الخاسرة</label>
                            <div id="tab-content3" class="tab-content">
                                <div class="GridLargWrapper">
                                    <div class="Clear H5"></div>
                                    <h2>الاسهم الخاسرة</h2>
                                    <div class="Clear H5"></div>
                                    This is the second panel of the basic tab example. This is the second panel of the basic tab example.
                                    <div class="Clear H5"></div>
                                </div>
                            </div>

                            <div class="Clear"></div>
                        </li>
                        <div class="Clear"></div>
                    </ul>
                </div>
                <!--START-->


                @*<div>
                    <ul class="tabs" data-tab>
                        <li class="tab-title active"><a href="#panel1">الأسهم الأكثر نشاطأ</a></li>
                        <li class="tab-title"><a href="#panel2">الاسهم الرابحة</a></li>
                        <li class="tab-title"><a href="#panel3">الاسهم الخاسرة</a></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="content active" id="panel1">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                <tbody>
                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Saudi-Arabia16.png"></td>
                                        <td>السعودية</td>
                                        <td width="20%" class=" red">85.13</td>
                                        <td> 374.68  </td>
                                        <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                        <td>0.92 %</td>
                                    </tr>

                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                                        <td>دبي</td>
                                        <td class="red">374</td>
                                        <td>85.13</td>
                                        <td>  <img class="img" src="~/Materials/UTMS/Images/down.png"> </td>
                                        <td>0.92 %</td>
                                    </tr>

                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Arab16.png"></td>
                                        <td>أبو ظبي</td>
                                        <td class="green">14.152</td>
                                        <td> 374.68  </td>
                                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                        <td>0.92 %</td>
                                    </tr>
                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Kuwait16.png"></td>
                                        <td>الكويت</td>
                                        <td class="red">14.152</td>
                                        <td> 374.68  </td>
                                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                        <td>0.92 %</td>
                                    </tr>
                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Qatar16.png"></td>
                                        <td>قطر</td>
                                        <td class="green">14.152</td>
                                        <td> 374.68  </td>
                                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                        <td>0.92 %</td>
                                    </tr>
                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Oman16.png"></td>
                                        <td>مسقط</td>
                                        <td class="red">14.152</td>
                                        <td> 374.68  </td>
                                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                        <td>0.92 %</td>
                                    </tr>
                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Bahrain16.png"></td>
                                        <td>البحرين</td>
                                        <td class="red">14.152</td>
                                        <td> 374.68  </td>
                                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                        <td>0.92 %</td>
                                    </tr>
                                    <tr class="tr" align="right">
                                        <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Egypt16.png"></td>
                                        <td>مصر</td>
                                        <td class="green">14.152</td>
                                        <td> 374.68  </td>
                                        <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                        <td>0.92 %</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="content" id="panel2">
                            <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
                        </div>
                        <div class="content" id="panel3">
                            <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
                        </div>
                        <div class="content" id="panel4">
                            <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
                        </div>
                    </div>
                </div>*@
            </div>
</div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4 dir="ltr"> SP/TSX Comp</h4>
                <a href="#" title=""><img src="~/Materials/UTMS/Images/Chart.jpg" alt="" /></a>
                <hr />
                <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> TOP EQUITY INDICES</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                        <tbody>
                            <tr>
                                <th colspan="3"><strong>Name </strong></th>
                                <th><strong>Last</strong></th>
                                <th></th>
                                <th><strong>%Chng</strong> </th>
                            </tr>
                            <tr class="tr1">

                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-States-Flag-16.png"></td>
                                <td>DJ Industrial</td>
                                <td class="red">85.13</td>
                                <td> 374.68  </td>
                                <td><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-States-Flag-16.png"></td>
                                <td>SP 500</td>
                                <td>374.68</td>
                                <td class="red">85.13</td>
                                <td>  <img class="img" src="~/Materials/UTMS/Images/down.png"> </td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Canada-Flag-16.png"></td>
                                <td>SP/TSX Comp</td>
                                <td class="green">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Brazil-Flag-16.png"></td>
                                <td>Bovespa</td>
                                <td class="red">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Kingdom-Flag-16.png"></td>
                                <td>FTSE 100</td>
                                <td class="green">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/United-Kingdom-Flag-16.png"></td>
                                <td>FTSE 100 EOD</td>
                                <td class="red">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/France-Flag-16.png"></td>
                                <td>CAC 40</td>
                                <td class="red">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/images/flags/Germany-Flag-16.png"></td>
                                <td>DAX 30</td>
                                <td class="green">14.152</td>
                                <td> 374.68  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.92 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>IBEX</td>
                                <td class="green"></td>
                                <td> 10,520.8 </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td></td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>FTSE MIB	</td>
                                <td class="green">19,954.51</td>
                                <td>  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>+3.88 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>STOXX 50	</td>
                                <td class="green"></td>
                                <td> 3,069.22 </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>3,069.22</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td> Nikkei 225	</td>
                                <td class="green"></td>
                                <td> 17,357.51 </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>+0.33 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td> Hang Seng</td>
                                <td class="green">23,912.83</td>
                                <td>  </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>+2.03 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td> TR US Price Idx</td>
                                <td class="green"></td>
                                <td> 186.48 </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>+2.03 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>  Volatility Index</td>
                                <td class="green">12.90</td>
                                <td> </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>-5.01 %</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>  STOXX</td>
                                <td class="green">345.24</td>
                                <td> </td>
                                <td class="red"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> TOP COMMODITIES</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                        <tbody>
                            <tr>
                                <th colspan="2"><strong>Name </strong></th>
                                <th></th>
                                <th><strong>Last</strong></th>
                                <th><strong>Net Chng</strong> </th>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>COMEX Gold</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>1,197.5</td>
                                <td class="red"> </td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>COMEX Silver</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>16.391</td>
                                <td class="red"> </td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td> NYMEX Platinum</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>1,227.8</td>
                                <td class="red"> </td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>COMEX Copper</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>3.0350</td>
                                <td class="red"> </td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>NYMEX Light Crude</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/down.png"></td>
                                <td>	76.56</td>
                                <td class="red"> - 0.05</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
                <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> FOREIGN EXCHANGE - MAJORS</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                        <tbody>
                            <tr>
                                <th colspan="2">Name </th>
                                <th></th>
                                <th>Bid</th>
                                <th>Ask</th>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>EUR/USD</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>1.2385</td>
                                <td> 1.2388</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td> GBP/USD</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>1.5637</td>
                                <td> 1.5641</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td> USD/CHF</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.9707</td>
                                <td> 0.9711</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td> USD/JPY</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>118.29</td>
                                <td>118.33</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>AUD/USD</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.8636</td>
                                <td>0.8639</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>NZD/USD</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>0.7864</td>
                                <td>0.7869</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td>USD/CAD</td>
                                <td align="center"><img class="img" src="~/Materials/UTMS/Images/up.png"></td>
                                <td>1.1243</td>
                                <td>1.1249</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> CENTRAL BANK RATES</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                        <tbody>
                            <tr>
                                <th colspan="4">Name </th>

                                <th>Last</th>

                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="3">Fed Funds</td>

                                <td>0.25</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="3"> US Discount</td>

                                <td>0.75</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="3">  ECB Refinance</td>

                                <td>0.05</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="3">  BOE Bank Rate</td>

                                <td>0.50</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="3">   Japan Prime</td>

                                <td>1.15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> 3M INTERBANK RATES </h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                        <tbody>
                            <tr>
                                <th colspan="4">Name </th>
                                <th>Last</th>

                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="3">3M USD LIBOR</td>

                                <td>0.23285</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="3"> 3M EURIBOR</td>

                                <td>0.081</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 dir="ltr"><img src="http://www.borsacapital.com/Areas/Trader/img/minus.png" class="acco-header"> TOP BENCHMARK BONDS</h4>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;direction: ltr" class="English">
                        <tbody>
                            <tr>
                                <th colspan="2">Name </th>
                                <th></th>
                                <th>Yield</th>
                                <th>Yld Net Chng</th>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2"> US 10Y GOVT BOND</td>
                                <td>2.3276</td>
                                <td align="center" class="green"> + 0.013</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2"> EU 10Y GOVT BOND</td>
                                <td>0.783</td>
                                <td align="center" class="green"> + 0.013</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2"> JP 10Y GOVT BOND</td>
                                <td>0.463</td>
                                <td align="center"> 0</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2"> GB 10Y GOVT BOND</td>
                                <td>2.061</td>
                                <td align="center" class="green"> + 0.013</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2"> FR 10Y GOVT BOND</td>
                                <td>1.118</td>
                                <td align="center" class="green">+ 0.005</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2"> IT 10Y GOVT BOND</td>
                                <td>2.174</td>
                                <td align="center" class="red"> -0.038</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2">CA 10Y GOVT BOND</td>
                                <td>2.021</td>
                                <td align="center" class="green"> + 0.014</td>
                            </tr>
                            <tr class="tr1">
                                <td><img class="img" src="http://www.borsacapital.com/Areas/Trader/img/iconF.png"></td>
                                <td colspan="2">  CH 10Y GOVT BOND</td>
                                <td>0.376</td>
                                <td align="center" class="red">-0.004</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
