

<div class="row" ng-controller="ChangeController">
    <!--START OUR CLIENTS-->
    <div ng-include="'../Angular/Sponsors.html'"></div>
    <!--END OUR CLIENTS-->
    <div class="large-10 column">
        <div class="RegisterWrapper">
            <h1 class="Spec InnerPage">
                {{changePassword | translate}}
                <div class="left"><img src="../Materials/Ar/images/Grid/Lock.png" /></div>
            </h1>
            <div class="H10"></div>

            <!--START TABLE-->
            <form name="ChangePasswordForm" ng-submit="ChangePassword(user)" novalidate>
                <div class="">
                    <div class="large-8 columns">
                        <div class="large-3 columns">
                            <label>{{oldPassword | translate}}</label>
                        </div>
                        <div class="large-9 columns">
                            <label>
                                <input type="email" ng-model="user.OldPassword" name="oldPassword" placeholder="{{oldPassword | translate}}" ng-class="submitted?'ng-dirty':''" required autofocus />
                                <span class="error" ng-show="clicked && ChangePasswordForm.email.$error.required">{{emailValidation | translate}}</span>
                                <span class="error" ng-show="ChangePasswordForm.email.$error.pattern">{{incorrectEmail | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">
                            <label>{{newPassword | translate}}</label>
                        </div>
                        <div class="large-9 columns">
                            <label>
                                <input type="password" name="newpassword" ng-model="user.Password" ng-pattern="passwordformat" placeholder="{{newPassword | translate}}" ng-class="submitted?'ng-dirty':''" required autofocus />
                                <span class="error" ng-show="(clicked || ChangePasswordForm.newpassword.$dirty ) && ChangePasswordForm.newpassword.$error.required">{{passwordValidation | translate}}</span>
                                <span class="error" ng-show="ChangePasswordForm.newpassword.$error.pattern">{{incorrectPassword | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">
                            <label>{{confirmNewPassword | translate}}</label>
                        </div>
                        <div class="large-9 columns">
                            <label>
                                <input type="password" ng-model="user.ConfirmPassword" name="cPassword" compare-to="user.Password" placeholder="{{confirmNewPassword | translate}}" required ng-class="submitted?'ng-dirty':''" autofocus />
                                <span class="error" ng-show="(clicked || ResetPasswordForm.cPassword.$dirty ) && ResetPasswordForm.cPassword.$error.required">{{cPasswordValidation | translate}}</span>

                            </label>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">&nbsp;</div>
                        <div class="large-9 columns">
                            <button type="submit" ng-click="clicked=true" class="button radius">{{sendbtn | translate}}</button>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="large-3 columns">&nbsp;</div>
                        <div class="large-9 columns">
                            <span class="error" ng-show="validationSummary">{{message}}</span>
                        </div>
                    </div>
                </div>
            </form>

            <div ng-show="submitted">
                <h2 id="feedback"></h2>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>