
<div class="row" ng-controller="ForgotpasswordController">
    <!--START OUR CLIENTS-->
    <div ng-include="'../Angular/Sponsors.html'"></div>
    <!--END OUR CLIENTS-->


    <div class="large-10 column">
        <div class="RegisterWrapper">
            <h1 class="Spec InnerPage">
                {{forgotPassword | translate}}
                <div class="left"><img src="../Materials/Ar/images/Grid/Lock.png" /></div>
            </h1>
            <div class="H10"></div>

            <!--START TABLE-->
            <form name="ForgetPasswordForm" ng-submit="Send(Member)" novalidate>
                <div ng-show="emailSent" id="feedbackdiv">
                    {{message}}
                </div>

                <div class="" ng-show="!emailSent">

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-3 columns">
                                <label>
                                    {{plzEnterEmail | translate}}
                                </label>
                            </div>
                            <div class="large-8 columns">
                                <label>
                                    <input type="email" ng-model="Member.Email" name="email" id="email" ng-pattern="emailformat" placeholder="{{email | translate}}" required autofocus />
                                    <span class="error" ng-show="clicked && ForgetPasswordForm.email.$error.required">{{emailValidation | translate}}</span>
                                    <span class="error" ng-show="ForgetPasswordForm.email.$error.pattern">{{emailIncorrect | translate}}</span>

                                </label>
                            </div>
                           
                        </div>
                    </div>
                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-9 columns">
                                <button type="submit" class="button radius" ng-click="clicked=true">{{sendBtn | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-9 columns">
                                <span class="error" ng-show="validationSummary">{{message}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <!--<div id="loadingArea" ng-show="loading"></div>-->
            <div class="clear"></div>
        </div>
    </div>
</div>