<div class="row">
    <!-- Sponsors -->
    <div ng-include="'../Angular/Sponsors.html'"></div>
    <!-- /Sponsors -->

    <div class="large-10 column">
        <div class="RegisterWrapper">

            <table class="stack" style="width:100%">
                <tr ng-init="editname=false">
                    <td><div ng-hide="editname">{{fullName | translate}}</div></td>
                    <td ng-hide="editname">
                        <div> {{UserData.FirstName}} {{UserData.MiddleName}} {{UserData.LastName}}</div>
                    </td>
                    <td ng-show="editname">
                        <form name="editnameform" ng-submit="UpdateName(model)" method="post" novalidate>
                            <div class="large-8 columns">
                                <div class="large-3 columns">
                                    <label for="firstname">{{fName | translate}}</label>
                                </div>
                                <div class="large-9 columns">
                                    <label>
                                        <input type="text" name="fname" id="firstname" ng-model="model.FirstName" 
                                               placeholder="{{fName | translate}}" 
                                               ng-pattern="name"
                                               ng-minlength="2"
                                               ng-maxlength="15"
                                               required autofocus />
                                        <span class="error" ng-show="editnameform.fname.$error.pattern">{{namePattern | translate}}</span>
                                        <span class="error" ng-show="editnameform.fname.$error.minlength">{{nameMinLength | translate}}</span>
                                        <span class="error" ng-show="editnameform.fname.$error.maxlength">{{nameMaxLength | translate}}</span>
                                        <span class="error" ng-show="(editnameform.fname.$dirty || submitted) && editnameform.fname.$error.required">{{fNameValidation | translate}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">
                                    <label for="middlename">{{mName | translate}}</label>
                                </div>
                                <div class="large-9 columns">
                                    <label>
                                        <input type="text" name="mname" id="middlename" ng-model="model.MiddleName" 
                                               placeholder="{{mName | translate}}"
                                               ng-pattern="name"
                                               ng-minlength="2"
                                               ng-maxlength="15"
                                               autofocus />
                                        <span class="error" ng-show="editnameform.mname.$error.pattern">{{namePattern | translate}}</span>
                                        <span class="error" ng-show="editnameform.mname.$error.minlength">{{nameMinLength | translate}}</span>
                                        <span class="error" ng-show="editnameform.mname.$error.maxlength">{{nameMaxLength | translate}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">
                                    <label for="lastname">{{lName | translate}}</label>
                                </div>
                                <div class="large-9 columns">
                                    <label>
                                        <input type="text" name="lname" id="lastname" ng-model="model.LastName" 
                                               placeholder="{{lName | translate}}" 
                                               ng-pattern="name"
                                               ng-minlength="2"
                                               ng-maxlength="15"
                                               required autofocus />
                                        <span class="error" ng-show="editnameform.lname.$error.pattern">{{namePattern | translate}}</span>
                                        <span class="error" ng-show="editnameform.lname.$error.minlength">{{nameMinLength | translate}}</span>
                                        <span class="error" ng-show="editnameform.lname.$error.maxlength">{{nameMaxLength | translate}}</span>
                                        <span class="error" ng-show="(editnameform.lname.$dirty || submitted) && editnameform.lname.$error.required">{{lNameValidation | translate}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">&nbsp;</div>
                                <div class="large-9 columns">
                                    <input type="submit" value="{{save | translate}}" class="button radius" />
                                    <input type="button" value="{{cancel | translate}}" ng-click="editname=false" class="button radius" />
                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">&nbsp;</div>
                                <div class="large-9 columns">
                                    <span class="error" ng-show="editNameValidSum">{{EditNameMessage}}</span>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <div ng-hide="editname"><a ng-click="editname=true">{{edit | translate}}</a></div>
                    </td>
                </tr>
                <tr>
                    <td>{{email | translate}}</td>
                    <td>{{UserData.Email}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{userName | translate}}</td>
                    <td>{{UserData.UserName}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td ng-init="changepassword=false">
                        <a ng-click="changepassword=true" ng-show="!changepassword">{{changePass | translate}}</a>
                        <form ng-show="changepassword" name="ChangePasswordForm" ng-submit="changePassword(passmodel)" method="post" novalidate>

                            <div class="large-8 columns">
                                <div class="large-3 columns">
                                    <label>{{oldPassword | translate}}</label>
                                </div>
                                <div class="large-9 columns">
                                    <label>
                                        <input type="password" ng-model="passmodel.OldPassword" name="oldPassword" placeholder="{{oldPassword | translate}}" ng-class="submitted?'ng-dirty':''" required  autofocus />
                                        <span class="error" ng-show="(clicked || ChangePasswordForm.oldPassword.$dirty ) && ChangePasswordForm.oldPassword.$error.required">{{oldPasswordValidation | translate}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">
                                    <label>{{newPassword | translate}}</label>
                                </div>
                                <div class="large-9 columns">
                                    <label>
                                        <input type="password" name="newPassword" ng-model="passmodel.NewPassword" 
                                               ng-pattern="passwordformat" 
                                               placeholder="{{newPassword | translate}}" 
                                               ng-class="submitted?'ng-dirty':''" 
                                               ng-minlength="6"
                                               ng-maxlength="30"
                                               required autofocus />
                                        <span class="error" ng-show="(clicked || ChangePasswordForm.newPassword.$dirty ) && ChangePasswordForm.newPassword.$error.required">{{newPasswordValidation | translate}}</span>
                                        <span class="error" ng-show="ChangePasswordForm.newPassword.$error.pattern">{{passwordIncorrect | translate}}</span>
                                        <span class="error" ng-show="ChangePasswordForm.newPassword.$error.minlength">{{minLengthPassword | translate}}</span>
                                        <span class="error" ng-show="ChangePasswordForm.newPassword.$error.maxlength">{{maxLengthPassword | translate}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">
                                    <label>{{confirmNewPassword | translate}}</label>
                                </div>
                                <div class="large-9 columns">
                                    <label>
                                        <input type="password" ng-model="passmodel.ConfirmPassword" name="cNewPassword" compare-to="passmodel.NewPassword" placeholder="{{confirmNewPassword | translate}}" required autofocus />
                                        <span class="error" ng-show="(clicked || ChangePasswordForm.cNewPassword.$dirty ) && ChangePasswordForm.cNewPassword.$error.required">{{confirmNewPasswordValidation | translate}}</span>

                                    </label>
                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">&nbsp;</div>
                                <div class="large-9 columns">
                                    <button type="submit" ng-click="clicked=true" class="button radius">{{save | translate}}</button>
                                    <button ng-click="changepassword=false" class="button radius">{{cancel | translate}}</button>

                                </div>
                            </div>
                            <div class="large-8 columns">
                                <div class="large-3 columns">&nbsp;</div>
                                <div class="large-9 columns">
                                    <span class="error" ng-show="changePassValidSum">{{ChangePassMessage}}</span>
                                </div>
                            </div>

                        </form>
                    </td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>
</div>