
<style>
    input.ng-dirty.ng-invalid {
        border: 1px solid red;
        background-color: rgb(255,244,244);
    }

    .error {
        color: red;
    }
</style>

<div class="row">
    <!-- Sponsors -->
    <div ng-include="'../Angular/Sponsors.html'"></div>
    <!-- /Sponsors -->

    <div class="large-10 column">
        <div class="RegisterWrapper">
            <h1 class="Spec InnerPage">
                {{newUser | translate}}
                <div class="left">
                    <img src="../Materials/Ar/images/Grid/user.png" />
                </div>
            </h1>

            <div class="H10"></div>
            <div ng-controller="RegisterController">

                <div ng-show="submitted">
                    <h3>{{registerSuccess}}</h3>
                </div>

                <form name="RegisterForm" ng-submit="SaveData(user)" method="post" novalidate ng-show="!submitted">

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-2 columns">
                                <label class="form-control" for="fName">{{fullName | translate}}</label>
                            </div>
                            <div class="large-3 columns">
                                <input type="text" ng-model="user.FirstName" name="fName" placeholder="{{fName | translate}}" ng-class="submitted?'ng-dirty':''" required autofocus />
                                <span class="error" ng-show="(RegisterForm.fName.$dirty || submitted) && RegisterForm.fName.$error.required">{{fNameValidation | translate}}</span>
                            </div>
                            <div class="large-3 columns">
                                <input type="text" ng-model="user.MiddleName" name="mName" placeholder="{{mName | translate}}" />
                            </div>
                            <div class="large-3 columns">
                                <input type="text" name="lName" ng-model="user.LastName" placeholder="{{lName | translate}}" ng-class="submitted?'ng-dirty':''" required autofocus />
                                <span class="error" ng-show="(RegisterForm.lName.$dirty || submitted) && RegisterForm.lName.$error.required">{{lNameValidation | translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-2 columns">
                                <label for="userName" class="control-label">{{userName | translate}}</label>

                            </div>
                            <div class="large-9 columns">
                                <input type="text" ng-model="user.UserName" name="userName" ng-pattern="userNamePatern" placeholder="{{userName | translate}}" required />
                                <span class="error" ng-show="(RegisterForm.userName.$dirty || submitted) && RegisterForm.userName.$error.required">{{userNameValidation | translate}}</span>
                                <span class="error" ng-show="RegisterForm.userName.$error.pattern">{{invalidUserName | translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-2 columns">
                                <label for="email" class="control-label">{{email | translate}}</label>
                            </div>
                            <div class="large-9 columns">
                                <input type="email" name="email" ng-model="user.Email" ng-pattern="emailformat" placeholder="{{email | translate}}" ng-class="submitted?'ng-dirty':''" required autofocus />
                                <span class="error" ng-show="(RegisterForm.email.$dirty || submitted) && RegisterForm.email.$error.required">{{emailValidation | translate}}</span>
                                <span class="error" ng-show="RegisterForm.email.$error.pattern">{{emailIncorrect | translate}}</span>

                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-2 columns">
                                <label for="password" class="control-label">{{password | translate}}</label>
                            </div>
                            <div class="large-9 columns">
                                <input type="password" name="password" ng-model="user.Password" ng-pattern="passwordformat" placeholder="{{password | translate}}" ng-class="submitted?'ng-dirty':''" required autofocus />
                                <span class="error" ng-show="(RegisterForm.password.$dirty || submitted) && RegisterForm.password.$error.required">{{passwordValidation | translate}}</span>
                                <span class="error" ng-show="RegisterForm.password.$error.pattern">{{incorrectPassword | translate}}</span>

                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-2 columns ">
                                <label for="cPassword" class="control-label">{{cPassword | translate}}</label>
                            </div>
                            <div class="large-9 columns">
                                <input type="password" name="cPassword" ng-model="user.ConfirmPassword" compare-to="user.Password" placeholder="{{cPassword | translate}}" required ng-class="submitted?'ng-dirty':''" autofocus />
                                <span class="error" ng-show="(RegisterForm.cPassword.$dirty || submitted) && RegisterForm.cPassword.$error.required">{{cPasswordValidation | translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-2 columns">&nbsp;</div>
                            <div class="large-9 columns">
                                <input type="submit" value="{{registerBtn | translate}}" class="button radius" />
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="large-8 columns">
                            <div class="large-2 columns">&nbsp;</div>
                            <div class="large-9 columns">
                                <!--<span ng-show="!submitted && RegisterForm.fName.$valid && RegisterForm.lName.$valid && RegisterForm.userName.$valid && RegisterForm.email.$valid && RegisterForm.password.$valid && RegisterForm.cPassword.$valid" class="error">{{message}}</span>-->
                                <span class="error" ng-show="validationSummary">{{message}}</span>
                                
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <!--<div id="loadingArea" ng-show="loading"></div>-->
            <div class="clear"></div>
        </div>
    </div>
</div>
