@{
    ViewBag.Title = "Television";
}

<div class="RegisterWrapper">
    


    <h1 class="Spec InnerPage">
        أهم القنوات التى تتحدث عن البورصة
        <div class="Left">
            <img src="~/Materials/UTMS/Images/RightMenu/1.png" />
        </div>
    </h1>

    <div class="clear H10"></div>

    <div class="large-12 columns">

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>قناة CNBC</h4>
                <div style="text-align: center"><a href="http://www.cnbcarabia.com/" target="_blank"><img src="~/Materials/UTMS/Images/Channels/cnbc.png" alt="" /></a></div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>CNBC Europe </h4>
                <div style="text-align: center"><a href="http://www.cnbc.com/id/15838668#" target="_blank"><img src="~/Materials/UTMS/Images/Channels/cnbceurope.png" alt="" /></a></div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>قناة الأقتصادية</h4>
                <div style="text-align: center"><a href="http://www.eqtisadiyatv.sa/" target="_blank"><img src="~/Materials/UTMS/Images/Channels/sudi.png" alt="" /></a></div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>قناة يورنيوز</h4>
                <div style="text-align: center"><a href="http://arabic.euronews.com/news/streaming-live/" target="_blank"><img src="~/Materials/UTMS/Images/Channels/euronews.png" alt="" /></a></div>
            </div>
        </div>
    </div>

    <div class="large-12 columns">

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>سكاي نيوز</h4>
                <div style="text-align: center"><a href="http://www.skynewsarabia.com/web/home" target="_blank"><img src="~/Materials/UTMS/Images/Channels/sky.png" alt="" /></a></div>
                
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>قناة الجزيرة</h4>
                <div style="text-align: center"><a href="http://www.aljazeera.net/portal" target="_blank"><img src="~/Materials/UTMS/Images/Channels/el-jazera.png" alt="" /></a></div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>قناة العربية</h4>
                <div style="text-align: center"><a href="http://www.alarabiya.net/" target="_blank"><img src="~/Materials/UTMS/Images/Channels/Alarabiya.png" alt="" /></a></div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>BBC قناة</h4>
                <div style="text-align: center"><a href="http://www.bbc.co.uk/arabic" target="_blank"><img src="~/Materials/UTMS/Images/Channels/BBC.png" alt="" /></a></div>
            </div>
        </div>
    </div>

    <div class="large-12 columns">

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>قناة الاخبارية</h4>
                <div style="text-align: center"><a href="http://www.ekhbariyatv.sa/" target="_blank"><img src="~/Materials/UTMS/Images/Channels/El7brya.png" alt="" /></a></div>
            </div>
        </div>
    </div>

    <div class="clear H10"></div>

    <!-- start social link area -->
</div>



<div class="clear"></div>
