#tooltip
{
    padding: 5px;
    width: auto;
    min-width:100px;
    height: auto;
    min-height:30px;
    color: White;
    background-color: black;
    opacity: .7;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    border-radius: 3px;
  -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}


#magniTool
{
     border-radius: 90px;
   -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
}