

<h1 class="Spec InnerPage">بورصة جرافيكس</h1>

<div class="highcharts-wrapper" ng-controller="BorsaGraphicsController">

    <div class="highcharts-TopTaps right">
        <ul ng-repeat="category in ChartCategory">
            <li>
                <a ng-click="DisplayCategory(category.ChartCategoryId)" id="{{category.ChartCategoryId}}" ng-class="{'Active':category.ChartCategoryId==1}">{{category.ChartCategoryName}}</a>
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="highcharts-content right">
        <div class="highcharts-column right">
            <ul>
                <li ng-repeat="Kind in ChartAnalysesKind" class="cakli">
                    <a id="cak{{$index}}" ng-class="{'Active': Kind == ChartAnalysesKind[0]}" ng-click="showChilds($index)">{{Kind.CAKName}}</a>
                    <ul class="highcharts-Sub">
                        <li ng-repeat="Chart in Kind.Charts" ng-show="Kind.active">
                            <a ng-click="DisplayChart(Chart.ChartId)" id="chart{{Chart.ChartId}}" ng-class="{'Active': Chart.ChartId == 1}">{{Chart.ChartName}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="highcharts-chartcontainer left">
            <div class="padding10">

                <iframe ng-src="{{url}}" id="chartiframe" class="iframechart">
                    <p>Your browser does not support iframes.</p>
                </iframe>
                <!--<iframe ng-src="{{url}}" frameborder="0" scrolling="no" onload="resizeIframe(this)" >
                    <p>Your browser does not support iframes.</p>
                </iframe>-->


            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>