
@{
    Layout = null;
}
<div class="RegisterWrapper">
    <h1 class="Spec InnerPage">
        استثمارك في سطر
    </h1>



    <h3>
        8 مايو 2016
    </h3>


    <style>


        /*THIRD*/
        .TabsNew3 {
          float: none;
          list-style: none;
          position: relative;
          padding: 0;
          margin: 0px 0 0 0px;
          /*border-bottom: 1px solid #333;*/
          /*min-height: 300px;*/
          min-height: 500px;
        }
        .TabsNew3 ul {
          padding: 0;
          margin: 0px 0 0 0px;
        }
        .TabsNew3 li {
          padding: 0 !important;
          margin: 0px 1px 0 0px !important;
          float: right !important;
          display: inline-block !important;
        }
        .TabsNew3 input[type="radio"] {
          position: absolute;
          top: -9999px;
          right: -9999px;
        }
        .TabsNew3 label {
          display: block;
            font-size: 12px;
            font-weight: normal;
            color: #000;
            text-decoration: none;
            background-color: #6d6d6d;
          cursor: pointer;
          position: relative;
          top: 4px;
          padding: 6px 7px;
          margin: 0px 0 0 0px !important;
          border-radius: 2px 2px 0 0;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        .TabsNew3 label:hover {
          background: #ffff00;
        }
        .TabsNew3 .tab-content {
            font-family: Tahoma;
            font-size: 12px;
          z-index: 2;
          display: none;
          overflow: hidden;
          width: 100%;
          line-height: normal;
          padding: 10px;
          top: 31px;
          right: 0;
          color: #FFF;
          background: #2d2d2d;
          position: absolute;
          height: 450px;
          overflow: auto
        }
        .TabsNew3 [id^="tab"]:checked + label {
          top: 0;
          padding-top: 10px;
          background: #92d050;
        }
        .TabsNew3 [id^="tab"]:checked ~ [id^="tab-content"] {
          display:block;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
    </style>


    <!--START-->
    <div style="position: relative">
        <ul class="TabsNew3">
            <li>
                <input type="radio" name="tabs" id="tab1" checked />
                <label for="tab1">السعودية</label>
                <div id="tab-content1" class="tab-content">
                    <div class="GridLargWrapper">
                        <div class="clear H5"></div>
                        <div class="TikerChartWrapper">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; direction: rtl" class="Empty2 Arabic2">
                                <tr>
                                    <td>التصنيف الإتماني للسعوديه</td>
                                    <td>
                                        A-
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>التصنيف الإتماين ل TASI</td>
                                    <td>
                                        A- -
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الناتج المحلي الإجمالي السعودي</td>
                                    <td>
                                        2.2 مليار ريال سعودي (700 مليار دولار أمريكي)
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>معدل نمؤ الناتج المحلي الإجمالي</td>
                                    <td>
                                        3.8% سنوي
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الناتج المحلي الإجمالي للفرد</td>
                                    <td>
                                        66،825 ريال ($ 17,820)
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>معدل البطاله السعوديه</td>
                                    <td>
                                        7%
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>معدل التضحم</td>
                                    <td>
                                        2.1%
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>مؤشر أسعار المستهلكين (CPI)</td>
                                    <td>
                                        134
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>مؤشر أسعار المنتجين (PPI)</td>
                                    <td>
                                        157
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سعر الفائده	</td>
                                    <td>
                                        2%
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>إجتياطي النقد الأجنبي بالمليار</td>
                                    <td>
                                        669 مليار
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>نمو الفروض	</td>
                                    <td>
                                        9.2%
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>نسبة القروض للإيداعات</td>
                                    <td>
                                        87%
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الميزان التجاري	</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الصادرات</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الواردات</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>إجتياط الذهب</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الالتبدال التجاري مع الكويت</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>التبدال التجاري مع الإمارات</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>التبدال التجاري مع البحرين</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>التبدال التجاري مع قطر</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>التبدال التجاري مع دول الخليج العربي</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الإيرادات النفطيه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الإيرادات الغير نفطيه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>المصروفات</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>مؤشر التنافسيه	</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>مؤشر الفساد</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>مؤشر ثقة المستهلك</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق الأسهم السعودية</td>
                                    <td>
                                        <a href="#">
                                            التقاطع الذهبي
                                            <div>
                                                التقاطع الذهبي يحصل عندما يتقاطع المتوسط المتجرك ال 50 الموزون على فوق المتوسط المتحرك الموزون ال 200.
                                            </div>
                                        </a>
                                        للمؤشر العام على وشك الحصول عند 6،500.  السعر/العائد =13 ، السعر/القيمه الدفتريه = 1.6، القيمه السوقيه = 1.53 تريليون رس والأرباح السنويه 98 مليار رس

                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق دبي المالي</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق أبو ظبي للأوراق الماليه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق الكويت للأوراق الماليه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق الدوحه للأوراق الماليه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق مسقط للأوراق الماليه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق البحرين للأوراق الماليه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>سوق مصر للأوراق الماليه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>داو جونز</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>نازدك</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>اس اند بى 500</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>نيكى</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>فوتسى</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>داكس</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>برنت</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>نايمكس</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الغاز الطبيعي	</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>النافتا</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الايثيلين</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>البروبيلين</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الستايرين</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الميثانول (ميثانيكس)</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الميثانول (الصين)</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الذهب</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الفضه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>البلاتين</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>تيتانيوم</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>اورديوم</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>بلوتينيوم</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>نحاس</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الومنيوم</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حديد</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>يورو/دولار</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>إسترليني/دولار	</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>استرالي/دولار	</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>دولار/ين</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>دولار/كندي</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>يورو/إسترليني</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>دولار/فرنك</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>لطاقة الشمسية</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>الطاقة الجوفيه</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>طاقة الرياح</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>طاقة الميحط</td>
                                    <td>
                                        <a href="#">
                                            <div>

                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clear H5"></div>
                    </div>
                    <div class="clear H5"></div>

                </div>
                <div class="clear"></div>
            </li>

            <li>
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2">الخليج</label>
                <div id="tab-content2" class="tab-content">
                    <div class="GridLargWrapper">
                        <div class="clear H5"></div>
                        eee
                        <div class="clear H5"></div>
                    </div>
                </div>

                <div class="clear"></div>
            </li>

            <li>
                <input type="radio" name="tabs" id="tab3" />
                <label for="tab3">العالم</label>
                <div id="tab-content3" class="tab-content">
                    <div class="GridLargWrapper">
                        <div class="clear H5"></div>
                        ss
                        <div class="clear H5"></div>
                    </div>
                </div>

                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <!--End-->
    <div class="clear H5"></div>
</div>