@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="RegisterWrapper">



    <h1 class="Spec InnerPage">
       Meta Stock
        <div class="Left">
            <img src="~/Materials/UTMS/Images/RightMenu/1.png" />
        </div>
    </h1>
    <div>الإشتراك ببرنامج ميتاستوك
        <a href="http://www.metastock.com/BorsaCapital" target="_blank">1</a>
        <a href="http://www.metastock.com/BorsaCapital3for1" target="_blank">2</a>
    </div>

    <div class="clear H10"></div>

    <div class="large-12 columns">

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>The MetaStock Power Console</h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/2BgQ4QakA1A" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>Metastock XIV - What's New? </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/k2_QbrRRUQY" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>Introduction to MetaStock XIV - Kelly Clement </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/5D5n5Tj2ZcE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>Introduction to MetaStock XIV - Kelly Clement </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/5D5n5Tj2ZcE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="large-12 columns">

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>The MetaStock Power Console - Chart Tab </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/kZAiZljLX-8?list=PL8R_ygIcRv2yrtL2EUdQd_LXgKyNRiu5X" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>The MetaStock Power Console - Chart Tab </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/kZAiZljLX-8?list=PL8R_ygIcRv2yrtL2EUdQd_LXgKyNRiu5X" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>Sorting in the MetaStock FORECASTER </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/C8orxad-cbc?list=PL8R_ygIcRv2wnyzoc1wxr78haWMaHlMtM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>Introduction to MetaStock XIV - Kelly Clement  </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/5D5n5Tj2ZcE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    
    <div class="large-12 columns">

        <div class="large-3 column">
            <div class="TikerChartWrapper">
                <h4>Introduction to MetaStock XIV - Kelly Clement </h4>
                <div style="text-align: center">
                    <iframe class="SmallV" src="https://www.youtube.com/embed/5D5n5Tj2ZcE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
   

    <div class="clear H10"></div>

    <!-- start social link area -->
</div>



<div class="clear"></div>
