@{
    ViewBag.Title = "Index";
   Layout = null;
}
<div class="RegisterWrapper">
    <h1 class="Spec InnerPage">
        خارطة الشركات
    </h1>
    <iframe src="~/Areas/UTMS/map.html" style="width:100%;height:700px" frameborder="0"></iframe>
    <div class="clear H10"></div>

    <!--START TABLE-->

    <div class="clear"></div>
</div>