@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@charset "utf-8";

/*Over Write*/
.column, .columns {
float: right;
}

label.inline {
    margin: 0 0 .3rem 0;}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
 
  margin: 0 0 .3rem 0; }

body {
padding: 0;
margin: 0;
font-family: Tahoma, sans-serif;
font-size: .8em;
font-weight: normal;
font-style: normal;
line-height: 1.2;
position: relative;
cursor: default;
  color: #FFF;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-repeat: repeat;
}
ul, ol, dl {
}
ul, ol, dl {
  font-family: inherit;
}
/*
.accordion .accordion-navigation > a, .accordion dd > a {
  background: #ededed !important;
  padding: 1rem;
  display: block;
  font-family: "Droid Arabic Kufi",serif;
  font-size: 1rem;
  padding: .3em .6em;
  margin-bottom: 1px;
}
.accordion .accordion-navigation > a, .accordion dd > a:hover {
  background: #d3d3d3 !important;
}*/

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  text-align: right !important;
}
.BgNone{
   background: none !important;
}
/*Main*/
.H10{height: 10px;}
.H20{height: 20px;}
.H30{height: 30px;}

.ItemW10Pc{width: 10%;}
.ItemW30Pc{width: 30%;}
.ItemW40Pc{width: 40%;}
.ItemW50Pc{width: 50%;}
.ItemW60Pc{width: 60%;}
.ItemW70Pc{width: 70%;}
.ItemW80Pc{width: 80%;}
.ItemW90Pc{width: 90%;}
.ItemW100Pc{width: 100%;}



.ItemW20Pc{margin-left: 10px;}
.ItemW20Pc li{width: 210px;}

.clear{	clear:both;}
.Left{float: left;}
.Right{float: right;}


li{list-style: none;}


a {
text-decoration: none;
line-height: inherit;
}
a:hover {
color: #333;
}
a:active {
color: #000;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    font-family: "Droid Arabic Kufi",serif;
    display: block;
}
h1
{
    font-size: 18px;
    color: #1646fe;
    margin: 0.625em 0;
    padding: 0.625em;
}
h1.InnerPage
{
    font-weight: normal;
    font-family: "Droid Arabic Kufi",serif;
    font-size: 18px;
    color: #FFF;
    margin: 0.625em 0;
    padding: 0.2em 0.625em;
    background-color: rgba(218,218,218,.1);
}
h1.Spec, h1.InnerPage
{
    border-bottom: 0.063em solid #000;
}
h2
{
    font-weight: normal;
    font-family: "Droid Arabic Kufi",serif;
    font-size: 16px;
    color: #317b25;
}
h2.InnerPage
{
    font-weight: normal;
    font-family: "Droid Arabic Kufi",serif;
    font-size: 1.0em;
    margin: 0.313em 0;
    display: block;
    color: #317b25;
}
h3
{
    font-weight: normal;
    font-family: "Droid Arabic Kufi",serif;
    font-size: 14px;
    color: #e21914 !important;
}

h4
{
    font-size: 13px;
    color: #d3d3d3 !important;
}

h5
{
    font-size: 12px;
}

.CatygoryName
{
    display: inline-block;
    background-color: #b50000;
    color: #FFF;
    padding: 3px 6px;
    width: 95%;
    -webkit-border-radius: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}

p
{
    font-family: Tahoma;
    font-size: 1em;
    color: #FFF;
}

.color1{color: #FFF;}
.color2{color: #d40000;}
.color3{color: #999;}
.color4{color: #367e27;}

.FT{font-family: Tahoma;}
.FTN{font-family: Tahoma;font-weight: normal;font-size: 12px;}

.W100Persent{width:100%}
.W100PersentHomeVideo{width:100%;height:71px}

.Comment{color: red;}

.Comment2{
    color: red;

}

.BGWrapper {
    height: 100%;
    padding: 0;
    margin: 0;
  background-image: url(../images/Background.jpg);
  background-position: 0 38px;
  background-repeat: no-repeat;
}
.MAINmainWrapper
{
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}
.MainWrapperCenter
{
    width: 93%;margin: 0 auto;min-height: 300px;padding: 0;
}
.RegisterWrapper
{
    font-size: .8em;
    padding: 0.625em;
    margin: 1.250em 0;
    border: 0em solid #dadada;
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;


    -webkit-box-shadow:inset 0 0 1.000em 0.063em rgba(00,00,00,.9);
    box-shadow:inset 0 0 1.000em 0.063em rgba(00,00,00,.9);

    background-color: rgba(00,00,00,.3);
}
.SmallSideRight
{
    width: 30px !important;
    background-color: #2f2f2f;
    height: 100%;
    text-align: center;
    position: absolute;right: 0;top: 0;
    border-left: 1px solid rgba(180,207,11,.3);
}
.SmallSideLeft
{
    width: 30px !important;
    background-color: #2f2f2f;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid rgba(180,207,11,.3);
}

.SmallSideLeft li img, .SmallSideRight li img
{
   
}
.SmallSideLeft li a, .SmallSideRight li a
{
    display: block;
    padding: 2px 0;
    line-height: 30px
}
.SmallSideLeft li:hover, .SmallSideRight li:hover
{
    background-color: rgba(00,00,00,.4);
}

/* CSS My */
.headerWrapper
{
    background-color: #000000;
    color: #c1cccc;
    /*background-image: url(../images/foo-watermark.jpg);*/
    background-position: bottom;
}
.MainLogo
{
    float: right;
    display: inline-block;
    margin: -12px 0 0 0;
}
.logo {
float: right;
margin-top: 0.063em;
width: 40%;
min-width: 12.500em;
padding:0.625em 0px 0.625em 0.625em;
}
.LogoWraper
{
    float: right;
    width: 30%;
    padding: 0 2em 0 0;
}
.SearchWraper
{
    float: left;
    width: 22%;
    padding: 0 0em;
    color: #008cba;
}
.SearchWraper .column, .columns {
padding-left: 0.0rem;
padding-right: 0.0rem;
}

@media all and (max-width: 1030px) and (min-width: 520px) {

  .logo {
    width: 20%;
  }
.SearchWraper
{
    width: 40%;
}
}

@media all and (max-width: 520px) {
  .LogoWraper
{
width: 100%;
}
.SearchWraper
{
width: 99%;
}
}
.date{
	width:100%;
    font-size: .8em;
    text-align: right;
	min-width:12.500em;
	padding:0.313em 1.250em 0.313em 0.313em;
}
.BorderBottom
{
    border-bottom: .1em solid #393939;
}

.TopNav ul
{
    padding: 0;
    margin: 0px 0 0 2em;
    float: left;
}
.TopNav ul li
{
    padding: 0px 10px;
    margin: 0;
    display: inline-block;
    float: right;
    border-left: .1em solid #393939;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.TopNav ul li:last-child
{
}
.TopNav ul li a img
{
    height: 18px;
    padding: 0;
}
.TopNav ul li:hover 
{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.TopNav ul li a
{
    display: inline-block;
    padding: 0.313em 0;
    margin: 0;
    font-family: Tahoma;
    font-size: .6em;
    color: #c1cccc;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
}
.TopNav ul li:first-child 
{
    border-right: .1em solid #393939;
}
.TopNav ul li:hover a
{
    color: #FFF;
}
.inline-list a{
	color:#FFFFFF;
	padding-top:0.625em;
    font-size: .8em;
	
}
.inline-list{
	margin: 0 0 1.0625rem -0.375rem;
}
.inline-list a:hover{
	color:#FF0000;
}
.inline-list > li{
	margin-left: 0.375rem;
}

.Marquee {
background-color: #242424;
color: #FFF;
font-size: 0.7em;
font-weight: 400;
margin-bottom:0.0em;
padding: .5em 0;
}
.MarqueeS {
background-color: rgba(36,36,36,.4);
color: #FFF;
font-size: 0.7em;
font-weight: 400;
margin-bottom:0.0em;
padding: .1em .1em;
border-radius: 70px;
}

.SmallV
{
    width: 100%;
    height: 160px;
}

 .MainMenuWrappe {
    height: 30px;
    background-image: url(../images/bgmenu.jpg);
    background-position: 0 -30px;
    background-repeat: repeat;
}



.Bottom
{
    padding: 0.313em 0;
    border-top: 0px solid #b5edff;
    
    background-color: #f3f3f3;
   /* background-image: url(../images/bgfooter.jpg);
    background-position: center;*/
}
.Bottom h2
{    
    padding-bottom: 0.613em;
    border-bottom: .1em solid #cacaca;
}
.Bottom ul
{
    padding: 0.2em 1.1em !important;
}
.Bottom li
{
    padding: 0.2em 0.1em !important;
    border-bottom: .1em dotted #cacaca !important;
}
.Bottom li:first-child
{
    border-bottom: .0em dotted #cacaca !important;
}
.Bottom li a
{
    font-family: Tahoma;
    font-size: .8em;
    text-decoration: none;
    color: #795554;
    display: block;
    background-position: right;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.Bottom li a:hover
{
    color: #333 !important;
    padding-right: 1em !important;
    background-image:url(../images/LArrow.png);
    background-position: right;
    background-repeat: no-repeat;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.copyRight {
background-color: #000;
color: #666;
font-size: 0.750em;
text-align: center;
padding: 1.313em;
}


.FooterWrapperBG
{
    background-color: #000;
    border-top: 1px solid #1e1e1e;
    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;


    -webkit-box-shadow:inset 0 0 1.000em 0.063em rgba(218,218,218,.6);
    box-shadow:inset 0 0 1.000em 0.063em rgba(218,218,218,.6);
    /*background-image: url(../images/bodyBg.gif);*/
    background-repeat: repeat;
}

.AnyList
{
    padding: 0;margin: 0;
}
.AnyList ul
{
    padding: 0;margin: 0;
}
.AnyList ul li
{
    padding: 0;margin: 0;
    display: block;
}

.AnyInlin
{
    padding: 0;margin: 0;
}
.AnyInlin ul
{
    padding: 0;margin: 0;
}
.AnyInlin ul li
{
    padding: 0;margin: 0;
    display: inline-block;
    float: right;
    zoom: 1;
    *display: inline;
}

.AnyInlin2
{
    padding: 0;margin: 0;
}
.AnyInlin2 ul
{
    padding: 0;margin: 0;
}
.AnyInlin2 ul li
{
    padding: 0;margin: 0 0 0 0.063em;
    display: inline-block;
    float: right;
    zoom: 1;
    *display: inline;
}

.AnyInlin5
{
    padding: 0;margin: 0;
}
.AnyInlin5 ul
{
    padding: 0;margin: 0;
}
.AnyInlin5 ul li
{
    padding: 0;margin: 0 0 0 0.313em;
    display: inline-block;
    float: right;
    zoom: 1;
    *display: inline;
}


.W110
{
    width: 110px !important;
}

.TextBoxDone
{
    background-image: url(../images/Grid/Done.png);
    background-position: 5px 10px;
    background-repeat: no-repeat;
}
.TextBoxWrong
{
    background-image: url(../images/Grid/Wrong.png);
    background-position: 5px 10px;
    background-repeat: no-repeat;
}

.ButtonForbidden {
   cursor: url(../images/Grid/Forbidden.png), auto !important;
}

/*=========Angular Required===========*/
button:disabled{
    cursor:not-allowed
}

.ng-invalid.ng-dirty {
border-color:red;
}

.ng-valid.ng-dirty {
border-color:green;
}
/*===================================*/



.partaner {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-right: 4px;
    transition: all 300ms linear 0s;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    min-height: 120px;
}
.partanerDes {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 300ms linear 0s;
    padding: 10px 10px 10px 5px;
    margin-right: 15px;
    min-height: 120px;
}
.partanerDes ul
{
    padding: 0 0;
    margin: 0 0;
}
.partanerDes ul li
{
    padding: 0 0;
    margin: .1em 0;
    display: list-item;
    font-size: .8em;
}

table.table-dark2
{

}
table.table-dark2 td
{
    font-size: .8em;
}







h2.Clouding
{
    color: #7b76c8;
    font-size: 1.1em;
    padding: 2px 3px;
    margin: 0;
    display: inline-block;
    background-color: rgba(255,255,255,1);
    -webkit-border-radius: 4px 4px 4px;
border-radius: 4px 4px 4px;

}
.CompanyList {
    padding: 0;
    margin: 0;
}

.CompanyList ul {
    padding: 0;
    margin: 0;
}
.CompanyList ul li {

    font-weight: normal;
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 12px;
    color: white;
    margin:0.325em 0.625em;
    padding: 0;
    height: 20px;
    
    line-height: 20px;

    display: inline-block;
    float: right;
    zoom: 1;
    *display: inline;
}
.CompanyList ul li a
{
    display: inline-block;
}
.CompanyList ul li a.Red
{
    color: #ff0000;
}
.CompanyList ul li a.RedLarg
{
    color: #ff0000;
    font-size: 22px;
    border-bottom: .0em solid #FFF;
}
.CompanyList ul li a.Green
{
    color: #b9d40b;
}
.CompanyList ul li a.GreenLarg
{
    color: #b9d40b;
    font-size: 22px;
    border-bottom: .0em solid #FFF;
}
.CompanyList ul li a.White
{
    color: white;
}




.TikerChartWrapper {
   /* min-height: 200px;*/
    font-size: .8em;
    padding: 0.625em;
    margin: 1.250em 0;
    border: 0.063em solid #424040;

    -webkit-border-radius: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    /**/
    -webkit-box-shadow: inset 0 0 1.000em 0.063em rgba(00,00,00,.5);
    box-shadow: inset 0 0 1.000em 0.063em rgba(00,00,00,.5);
    background-color: #242424 !important;
}
.TikerChartWrapper img {
    max-width: 100%;
}




.MapWrapper
{
    position: relative;
    min-height: 600px;
}
.MapControlsWrapper
{
    color: #000;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 300px;
    z-index: 2;
    background-color: rgba(255,255,255,.8);
    padding: 10px;
    border: 1px solid #ccc;
}
.MyMap
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #ccc;
}
.MapList
{
    overflow: auto;
    padding: 5px;
    max-height: 350px;
    background-color: #e7e7e7;
    border: #ccc;
}
.MapList ul
{
    margin: 0;
    padding: 0;
}
.MapList ul li
{
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    font-family: Tahoma;
    font-size: 12px;
}


/*TABLE*/
table {
  background: #242424;
  margin-bottom: 1.25rem;
  border: solid 0 #DDDDDD;
  table-layout: auto;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  border-color: none;
}
table tr td {
  border-bottom: 1px solid #373737 !important;
  color: #e7e7e7;
  font-size: 11px !important;
  padding: .3em .1em;
}
table tr:hover {
  background-color: #0000ff;
}
table tr th {
  border-bottom: 1px solid #373737 !important;
  color: #e7e7e7;
  font-size: 11px !important;
  padding: .8em;
}
table tr:hover th {
  background-color: #242424 !important; 
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #242424;
}
table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
  line-height: 0.01rem;
}

table.English tr td {
  text-align: left !important;
}
table.English tr th {
  text-align: left !important;
  background-color: #000;
}

table.English2 {
  border: 1px solid #373737 !important;
}
table.English2 tr td {
  text-align: left !important;
  border-right: 1px solid #373737 !important;
}
table.English2 tr td:last-child {
  border-right: 0 solid #373737 !important;
}
table.English2 tr th {
  text-align: left !important;
  background-color: #000;
}

table.English3 {
  border: 1px solid #373737 !important;
}
table.English3 tr td {
  text-align: right !important;
  border-right: 1px solid #373737 !important;
}
table.English3 tr td:first-child {
  text-align: left !important;
}
table.English3 tr td:last-child {
  border-right: 0 solid #373737 !important;
}
table.English3 tr:nth-child(2) td {
  text-align: center !important;
}
table.English3 tr th {
  text-align: center !important;
  background-color: #cacd00;
  color: #000;
  border-right: 1px solid #373737 !important;
}
table.English3 tr.SecondHeader th,
table.English3 tr.SecondHeader td {
  background-color: #000;
}
table.English3 tr:hover th {
  background-color: #cacd00 !important;
  color: #000 !important;
}
table.English3 col:first-child td {
  text-align: left !important;
  background-color: #cacd00;
}

table.Arabic2 {
  border: 1px solid #373737 !important;
}
table.Arabic2 tr td {
  text-align: right !important;
  border-left: 1px solid #373737 !important;

    position: relative;
    vertical-align: top;
    display: table-cell !important;
    white-space: nowrap
}
table.Arabic2 tr td a
{
    display: inline-block;
    height: auto;
    /*width: 100%;*/
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
    z-index: 99999999;
}
table.Arabic2 tr td a div
{
    display: none;
    position: absolute;
    bottom: 2em;
    right: 0;
    background-color: rgba(234,234,234,1);
    color: #333;
    padding: 1em;
    z-index: 99999;
}
table.Arabic2 tr td a:hover div
{
    display: block !important;
}
table.Arabic2 tr td:last-child {
  border-left: 0 solid #373737 !important;
}
table.Arabic2 tr th {
  text-align: right !important;
  background-color: #000;
}

/**/

table.ToolTipDiv {
  border: 1px solid #373737 !important;
}
table.ToolTipDiv tr td {
    position: relative;
    vertical-align: top;
    display: table-cell !important;
    white-space: nowrap
}
table.ToolTipDiv tr td a
{
    display: inline-block;
    height: auto;
    /*width: 100%;*/
    z-index: 99999999;
}
table.ToolTipDiv tr td a div
{
    display: none;
    position: absolute;
    bottom: 2em;
    left: 0;
    background-color: rgba(234,234,234,1);
    color: #333;
    padding: 1em;
    z-index: 99999;
}
table.ToolTipDiv tr td a:hover div
{
    display: block !important;
}

/**/
.ToolTipTable
{
    width: 100%
}
.ToolTipTable td
{
    position: relative;
    vertical-align: top;
    padding: .2em .2em;
}
.ToolTipTable td a
{
    display: block;
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #333;
}
.ToolTipTable td a div
{
    display: none;
    position: absolute;
    bottom: 2em;
    right: 0;
    background-color: rgba(234,234,234,1);
    color: #333;
    padding: 1em;
    z-index: 99999;
}
.ToolTipTable td a:hover div
{
    display: block;
}



table.Empty {
  margin-bottom: 0.25rem !important; 
}
table.Empty tr td {
  text-align: right !important; 
  border: 0 !important; 
  padding: .3em !important; 
}
table.Empty tr:hover {
  background-color: #242424 !important; 
}

table.Empty2 {
}
table.Empty2 tr td {
  padding: .8em .5em !important; 
}
table.Empty2 tr:hover {
}




/*TABS*/
.tabs {
  margin-bottom: 0 !important;
  margin-right: 0;
}
ul, ol, dl {
  font-weight: normal;
    font-family: 'Droid Arabic Kufi', serif;
}
.tabs dd, .tabs .tab-title {
  position: relative;
  margin-bottom: 0 !important;
  list-style: none;
  float: right;

}
.tabs dd.active a, .tabs .tab-title.active a {
  color: #999;
  -webkit-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;

  background: #000000; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #000000 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000000 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000000 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000000 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #000000 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

}

.tabs dd > a, .tabs .tab-title > a {
  display: block;
  color: #999;
  padding: .9rem .5rem;
  margin-left: .1rem;
  font-family: 'Droid Arabic Kufi', serif;
  font-size: .8rem;
  -webkit-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
background: #383838; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTA5MDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #383838 0%, #090909 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#090909)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #383838 0%,#090909 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #383838 0%,#090909 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #383838 0%,#090909 100%); /* IE10+ */
background: linear-gradient(to bottom,  #383838 0%,#090909 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#090909',GradientType=0 ); /* IE6-8 */

}
.tabs-content {
  margin-bottom: 1.5rem;
  padding: 0.1rem;
  width: 100%;
  background-color: #2d2d2d;
}


hr {
  border: 0;
  height: 1px;
  margin: 10px 0;
  background: #999;
  background-image: -webkit-linear-gradient(left, #242424, #999, #242424);
  background-image: -moz-linear-gradient(left, #242424, #999, #242424);
  background-image: -ms-linear-gradient(left, #242424, #999, #242424);
  background-image: -o-linear-gradient(left, #242424, #999, #242424);
}

.red {
  color: #F00 !important;
}
.green {
  color: #00dd3d !important;
}

.c1, .c2, .c3 {
  width: 10px;
  height: 15px;
}
.c1 {
  background-color: #F00;
  border-bottom: 1px solid black;
}
.c2 {
  background-color: #00dd3d;
  border-bottom: 1px solid black;
  border-right: 1px solid #242424;
}
.c3 {
  background-color: #F00;
}



/*Collaps*/
.arrowBg
{    
}
.accordion .accordion-navigation > a, .accordion dd > a:hover {
  
}
.accordion .accordion-navigation > a, .accordion dd > a {
  background: #232b2b !important;
  font-size: .9rem;
  padding: .6em .6em;
  margin-bottom: 1px;
  color: #999;

  -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: #000 !important;
  color: #FFF;
  background-image: url(../images/grid/arrowD.png) !important;
  background-repeat: no-repeat !important;
  background-position: 10px 15px !important;
}

.accordion .accordion-navigation > .content, .accordion dd > .content
{
    opacity: 0 !important;
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  margin-bottom: 10px;
    
  -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;

  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.accordion .accordion-navigation > .content.active, .accordion dd > .content
{
}
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active
{
        opacity: 1 !important;
        width: auto !important;
        height: auto !important;
        display: block !important;
        background: #333333;
        font-size: .9rem;
        font-family: Tahoma;

        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
}

/*=========accordionNew1===========*/
 .accordionNew1 {
        margin: 10px;
    }

        .accordionNew1 dt, .accordionNew1 dd {
            padding: 0;
            margin: 0;
        }

            .accordionNew1 dt:last-of-type, .accordionNew1 dd:last-of-type {
            }

            .accordionNew1 dt a {
                display: block;
                 background: #232b2b !important;
  font-size: .9rem;
  padding: .6em .6em;
  margin-bottom: 1px;
  color: #999;

  -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
            }
            .accordionNew1 dt a:hover {
                background: #000 !important;
  color: #FFF;
  background-image: url(../images/grid/arrowD.png) !important;
  background-repeat: no-repeat !important;
  background-position: 10px 15px !important;
            }

            .accordionNew1 dd a {
                display: block;
                color: black;
                font-weight: bold;
            }

        .accordionNew1 dd {
            padding: 10px;
            border-top: 0;
            font-size: 12px;
            background-color: #FFF;
        }

            .accordionNew1 dd:last-of-type {
                position: relative;
                top: -1px;
            }
/*=========accordionNew===========*/
 .accordionNew {
        margin: 10px;
    }

        .accordionNew dt, .accordionNew dd {
            padding: 0;
            margin: 0;
        }
        
            .accordionNew dt:last-of-type, .accordionNew dd:last-of-type {
            }

            .accordionNew dt a {
                display: block;
               background: #232b2b !important;
  font-size: .9rem;
  padding: .6em .6em;
  margin-bottom: 1px;
  color: #999;

  -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
            }
            .accordionNew dt a:hover {
                background: #000 !important;
  color: #FFF;
  background-image: url(../images/grid/arrowD.png) !important;
  background-repeat: no-repeat !important;
  background-position: 10px 15px !important;
            }

            .accordionNew dd a {
                display: block;
                color: black;
                font-weight: bold;
            }

        .accordionNew dd {
           
    background-color: #000;
    padding: 10px;
    margin: 0 0 5px 0;
    font-size: 12px;
    font-family: Tahoma;
    
  -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
        }

            .accordionNew dd:last-of-type {
                position: relative;
                top: -1px;
            }
.Num
{
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
}


.top-bar-section ul li > a
{
    font-weight: normal;
    font-family: 'Droid Arabic Kufi', serif;
}

/*MAIN MENU TAPS*/
.MainMenuTaps
{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.MainMenuTaps ul
{
    padding: 0;
    margin: 0;
}
.MainMenuTaps ul li
{
    padding: 4px 6px;
    margin: 0 0 0 2px;
    display: inline-block;
    float: right;
    background-color: #cacaca;
}
.MainMenuTaps ul li:hover
{
    background-color: #000;
}
.MainMenuTaps ul li:hover h3
{
    color: #FFF !important;
}
.MainMenuTaps ul li.Actice
{
    background-color: #000;
}
.MainMenuTaps ul li.Actice h3
{
    color: red !important;
}
.MainMenuTaps ul li h3
{
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #317b25 !important;
}




.MainMenuCollaps
{
    padding: 0px 20px 5px 0;
    margin: 0;
    background-image: url(../images/Grid/ArrowD.png);
    background-position: 195px 5px;
    background-repeat: no-repeat;
    border-right: rgba(255,255,255,.3)
}
.MainMenuCollaps ul
{
    padding: 0;
    margin: 0;
    display: none;
}
.MainMenuCollaps:hover ul
{
    display: block;
}
.MainMenuCollaps ul li
{
    padding: 0;
    margin: 0;
}
.MainMenuCollaps h5
{
    font-family: Tahoma !important;
    font-size: 11px !important;
    font-weight: normal !important;
}

















.MR1{margin-right: 1%;}
.MR2{margin-right: 2%;}
.MR3{margin-right: 3%;}
.MR4{margin-right: 4%;}
.MR5{margin-right: 5%;}
.MR6{margin-right: 6%;}
.MR7{margin-right: 7%;}
.MR8{margin-right: 8%;}
.MR9{margin-right: 9%;}
.MR10{margin-right: 10%;}
.MR11{margin-right: 11%;}
.MR12{margin-right: 12%;}
.MR13{margin-right: 13%;}
.MR14{margin-right: 14%;}
.MR15{margin-right: 15%;}
.MR16{margin-right: 16%;}
.MR17{margin-right: 17%;}
.MR18{margin-right: 18%;}
.MR19{margin-right: 19%;}
.MR20{margin-right: 20%;}
.MR21{margin-right: 21%;}
.MR22{margin-right: 22%;}
.MR23{margin-right: 23%;}
.MR24{margin-right: 24%;}
.MR25{margin-right: 25%;}
.MR26{margin-right: 26%;}
.MR27{margin-right: 27%;}
.MR28{margin-right: 28%;}
.MR29{margin-right: 29%;}
.MR30{margin-right: 30%;}
.MR31{margin-right: 31%;}
.MR32{margin-right: 32%;}
.MR33{margin-right: 33%;}
.MR34{margin-right: 34%;}
.MR35{margin-right: 35%;}
.MR36{margin-right: 36%;}
.MR37{margin-right: 37%;}
.MR38{margin-right: 38%;}
.MR39{margin-right: 39%;}
.MR40{margin-right: 40%;}
.MR41{margin-right: 41%;}
.MR42{margin-right: 42%;}
.MR43{margin-right: 43%;}
.MR44{margin-right: 44%;}
.MR45{margin-right: 45%;}
.MR46{margin-right: 46%;}
.MR47{margin-right: 47%;}
.MR48{margin-right: 48%;}
.MR49{margin-right: 49%;}
.MR50{margin-right: 50%;}
.MR51{margin-right: 51%;}
.MR52{margin-right: 52%;}
.MR53{margin-right: 53%;}
.MR54{margin-right: 54%;}
.MR55{margin-right: 55%;}
.MR56{margin-right: 56%;}
.MR57{margin-right: 57%;}
.MR58{margin-right: 58%;}
.MR59{margin-right: 59%;}
.MR60{margin-right: 60%;}
.MR61{margin-right: 61%;}
.MR62{margin-right: 62%;}
.MR63{margin-right: 63%;}
.MR64{margin-right: 64%;}
.MR65{margin-right: 65%;}
.MR66{margin-right: 66%;}
.MR67{margin-right: 67%;}
.MR68{margin-right: 68%;}
.MR69{margin-right: 69%;}
.MR70{margin-right: 70%;}
.MR71{margin-right: 71%;}
.MR72{margin-right: 72%;}
.MR73{margin-right: 73%;}
.MR74{margin-right: 74%;}
.MR75{margin-right: 75%;}
.MR76{margin-right: 76%;}
.MR77{margin-right: 77%;}
.MR78{margin-right: 78%;}
.MR79{margin-right: 79%;}
.MR80{margin-right: 80%;}
.MR81{margin-right: 81%;}
.MR82{margin-right: 82%;}
.MR83{margin-right: 83%;}
.MR84{margin-right: 84%;}
.MR85{margin-right: 85%;}
.MR86{margin-right: 86%;}
.MR87{margin-right: 87%;}
.MR88{margin-right: 88%;}
.MR89{margin-right: 89%;}
.MR90{margin-right: 90%;}
.MR91{margin-right: 91%;}
.MR92{margin-right: 92%;}
.MR93{margin-right: 93%;}
.MR94{margin-right: 94%;}
.MR95{margin-right: 95%;}
.MR96{margin-right: 96%;}
.MR97{margin-right: 97%;}
.MR98{margin-right: 98%;}
.MR99{margin-right: 99%;}
.MR100{margin-right: 100%;}

.W1{width: 1%;}
.W2{width: 2%;}
.W3{width: 3%;}
.W4{width: 4%;}
.W5{width: 5%;}
.W6{width: 6%;}
.W7{width: 7%;}
.W8{width: 8%;}
.W9{width: 9%;}
.W10{width: 10%;}
.W11{width: 11%;}
.W12{width: 12%;}
.W13{width: 13%;}
.W14{width: 14%;}
.W15{width: 15%;}
.W16{width: 16%;}
.W17{width: 17%;}
.W18{width: 18%;}
.W19{width: 19%;}
.W20{width: 20%;}
.W21{width: 21%;}
.W22{width: 22%;}
.W23{width: 23%;}
.W24{width: 24%;}
.W25{width: 25%;}
.W26{width: 26%;}
.W27{width: 27%;}
.W28{width: 28%;}
.W29{width: 29%;}
.W30{width: 30%;}
.W31{width: 31%;}
.W32{width: 32%;}
.W33{width: 33%;}
.W34{width: 34%;}
.W35{width: 35%;}
.W36{width: 36%;}
.W37{width: 37%;}
.W38{width: 38%;}
.W39{width: 39%;}
.W40{width: 40%;}
.W41{width: 41%;}
.W42{width: 42%;}
.W43{width: 43%;}
.W44{width: 44%;}
.W45{width: 45%;}
.W46{width: 46%;}
.W47{width: 47%;}
.W48{width: 48%;}
.W49{width: 49%;}
.W50{width: 50%;}
.W51{width: 51%;}
.W52{width: 52%;}
.W53{width: 53%;}
.W54{width: 54%;}
.W55{width: 55%;}
.W56{width: 56%;}
.W57{width: 57%;}
.W58{width: 58%;}
.W59{width: 59%;}
.W60{width: 60%;}
.W61{width: 61%;}
.W62{width: 62%;}
.W63{width: 63%;}
.W64{width: 64%;}
.W65{width: 65%;}
.W66{width: 66%;}
.W67{width: 67%;}
.W68{width: 68%;}
.W69{width: 69%;}
.W70{width: 70%;}
.W71{width: 71%;}
.W72{width: 72%;}
.W73{width: 73%;}
.W74{width: 74%;}
.W75{width: 75%;}
.W76{width: 76%;}
.W77{width: 77%;}
.W78{width: 78%;}
.W79{width: 79%;}
.W80{width: 80%;}
.W81{width: 81%;}
.W82{width: 82%;}
.W83{width: 83%;}
.W84{width: 84%;}
.W85{width: 85%;}
.W86{width: 86%;}
.W87{width: 87%;}
.W88{width: 88%;}
.W89{width: 89%;}
.W90{width: 90%;}
.W91{width: 91%;}
.W92{width: 92%;}
.W93{width: 93%;}
.W94{width: 94%;}
.W95{width: 95%;}
.W96{width: 96%;}
.W97{width: 97%;}
.W98{width: 98%;}
.W99{width: 99%;}
.W100{width: 100%;}

.BgGreen
{
    background-color: #92d050;
}
.BgYellow
{
    background-color: #ffff00;
}
.BgKSA
{
    background-color: #00b050;
}

.bar
{
    height: 14px;
    text-align: center;
    color: #000;
    padding: 0px 0 0 0;
    font-size: 11px;
    font-family: Tahoma;
}
.bar div
{
    padding: 6px 0 0 0;
    display: inline-block
}

table.TableTemp
{

}

table.TableTemp td
{
    color: #FFF;
    font-size: 11px;
    padding: 0 6px;
    font-family: Tahoma;
    background-color: #000;
    border-bottom: 0 solid #373737 !important;
}
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.TimeWorld { 
		width: 100%; 
		border-collapse: collapse; 
        background-color: #6d6d6d;
	}
	/* Zebra striping */
	table.TimeWorld tr:nth-of-type(odd) { 
		background: #555555; 
	}
	table.TimeWorld th { 
		background: #333; 
		color: #FFF; 
        font-size: 11px;    
		font-weight: bold; 
        text-align: center;
        font-family: Tahoma;
	}
	table.TimeWorld td, table.TimeWorld th { 
		border: 1px solid #999999; 
	}
	table.TimeWorld th { 
        padding: 0px 0 !important;/**/
        text-align: center !important;
        height: 15px;
	}
    table.TimeWorld td
    { 
		padding: 0 0 !important; 
		color: #FFF; 
		text-align: right; 
    font-size: 12px;
    font-family: Tahoma;
    border-bottom: 0 solid #373737 !important;
    }
    table.TimeWorld td:nth-child(1), table.TimeWorld td:nth-child(2), table.TimeWorld td:nth-child(3), table.TimeWorld td:nth-child(4), table.TimeWorld td:nth-child(5)
    { 
		
    }
    table.TimeWorld td:nth-child(1), table.TimeWorld td:nth-child(2), table.TimeWorld td:nth-child(3)
    { 
		padding-right: 2px;
    }
    table.TimeWorld td:nth-child(3)
    { 
		padding-left: 2px !important;
        text-align: left !important;
    }


table.TimeWorld td.TimeNotChang, table.TimeWorld th.TimeNotChang, td.TimeNotChang, th.TimeNotChang
{
    background-color: #00b0f0 !important;
}
table.TimeWorld td.TimeNorth, table.TimeWorld th.TimeNorth, td.TimeNorth, th.TimeNorth
{
    background-color: #00b050 !important;
}
table.TimeWorld td.TimeSouth, table.TimeWorld th.TimeSouth, td.TimeSouth, th.TimeSouth
{
    background-color: #ffc000 !important;
}
table.TimeWorld td.SAK, table.TimeWorld th.SAK, td.SAK, th.SAK
{
    background-color: #00b050 !important;
}
table.TimeWorld td.Day, table.TimeWorld th.Day, td.Day, th.Day
{
    background-color: #6d6d6d !important;color: #FFF !important;
}
table.TimeWorld td.Night, table.TimeWorld th.Night, td.Night, th.Night
{
    background-color: #000000 !important;
}

  
            /*
        Max width before this PARTICULAR table gets nasty
        This query will take effect for any screen smaller than 760px
        and also iPads specifically.
        */
            @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                .Wrapper{width: 100%; }

                /* Force table to not be like tables anymore */
                table.TimeWorld , table.TimeWorld thead, table.TimeWorld tbody, table.TimeWorld th, table.TimeWorld td, table.TimeWorld tr {
                    display: block;
                }

                    /* Hide table headers (but not display: none;, for accessibility) */
                    table.TimeWorld thead tr {
                        position: absolute;
                        top: -9999px;
                        right: -9999px;
                    }

                table.TimeWorld tr {
                    border: 1px solid #ccc;
                }

                table.TimeWorld td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #999999;
                    position: relative;
                    padding-right: 15% !important;
                    height: 17px;
                }

                    table.TimeWorld td:before {
                        /* Now like a table header */
                        position: absolute;
                        /* Top/left values mimic padding */
                        top: 0px;
                        right: 6px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                    }
                    table.TimeWorld td:nth-child(3)
                    { 
		                text-align: right !important
                    }

                    /*
            Label the data
            */
                    table.TimeWorld td:nth-of-type(1):before {
                        content: " ";
                    }

                    table.TimeWorld td:nth-of-type(2):before {
                        content: "الدولة";
                    }

                    table.TimeWorld td:nth-of-type(3):before {
                        content: "المؤشر";
                        text-align: right;
                    }

                    table.TimeWorld td:nth-of-type(4):before {
                        content: "أيام التداول";
                    }

                    table.TimeWorld td:nth-of-type(5):before {
                        content: "صباحاً";
                    }

                    table.TimeWorld td:nth-of-type(6):before {
                        content: "مساءاً";
                    }

                    table.TimeWorld td:nth-of-type(7):before {
                        content: "صباحاً";
                    }

                    table.TimeWorld td:nth-of-type(8):before {
                        content: "مساءاً";
                    }

                    table.TimeWorld td:nth-of-type(9):before {
                        content: "GPA";
                    }

                    table.TimeWorld td:nth-of-type(10):before {
                        content: "Arbitrary Data";
                    }
            }

            /* Smartphones (portrait and landscape) ----------- */
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                .GridLargWrapper {
                    padding: 0;
                    margin: 0;
                    width: 320px;
                }
            }

            /* iPads (portrait and landscape) ----------- */
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                .GridLargWrapper {
                    width: 495px;
                }
            }


            #loadingArea{
     position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: 1000;
        background-color: white;
        opacity: .8;
       /* overflow:hidden;*/
}


.ToolTipChartWrapper
{
    position: relative;
}
.ToolTipChart
{
    position: absolute;
    top: 10em;
    left: 43%;
    background-color: #FFF;
    border: 1px solid #ccc;
    color: #333;
    padding: 4px;
    width: 100px;
    height: 35px;
    text-align: center
}



.KsaLinkMap
{
    width: 100%;
    display: inline-block;
    background-image: url(../images/KsaGreen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.KsaLinkMap:hover
{
    background-image: url(../images/Ksared.jpg);
}

.HomeTapsImg
{
    width: 100%;
}
.HomeTapsImg td
{
    vertical-align: top
}
.HomeTapsImg p
{
        height: 18px;
    display: block;
    overflow: hidden;
}
.HomeTapsImg h4
{
        font-size: 12px;
}
.HomeTapsImg img
{
    width: 100%;
    height: 45px;
}

/*Edit by hala 16-10-2016*/
.company_logo{
    width:190px;
    float:right;
    background:#ffffff;
    padding:20px 8px 10px 8px;
    margin:15px;
    border:#999 solid 1px;
    height:140px;
    text-align:center;
    font-weight:500;
    font-size:18px;
}

    .company_logo img {
        width:100%;
         height: 65px;
    }