


.TabsNew {
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0px 0 0 0px;
  /*border-bottom: 1px solid #333;*/
  min-height: 550px;
}
.TabsNew ul {
  padding: 0;
  margin: 0px 0 0 0px;
}
.TabsNew li {
  padding: 0 !important;
  margin: 0px 1px 0 0px !important;
  float: left !important;
  display: inline-block !important;
}
.TabsNew input[type="radio"] {
  position: absolute;
  top: -9999px;
  right: -9999px;
}
.TabsNew label {
  display: block;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    text-decoration: none;
    background-color: #6d6d6d;
  cursor: pointer;
  position: relative;
  top: 4px;
  padding: 6px 7px;
  margin: 0px 0 0 0px !important;
  border-radius: 2px 2px 0 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.TabsNew label:hover {
  background: #ffff00;
}
.TabsNew .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  line-height: normal;
  padding: 0px;
  position: absolute;
  top: 31px;
  right: 0;
  color: #FFF;
  background: #000;
}
.TabsNew [id^="tab"]:checked + label {
  top: 0;
  padding-top: 10px;
  background: #92d050;
}
.TabsNew [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}


/*SECOND*/
.TabsNewS {
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0px 0 0 0px;
  /*border-bottom: 1px solid #333;*/
  min-height: 300px;
}
.TabsNewS ul {
  padding: 0;
  margin: 0px 0 0 0px;
}
.TabsNewS li {
  padding: 0 !important;
  margin: 0px 1px 0 0px !important;
  float: left !important;
  display: inline-block !important;
}
.TabsNewS input[type="radio"] {
  position: absolute;
  top: -9999px;
  right: -9999px;
}
.TabsNewS label {
  display: block;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    text-decoration: none;
    background-color: #6d6d6d;
  cursor: pointer;
  position: relative;
  top: 4px;
  padding: 6px 7px;
  margin: 0px 0 0 0px !important;
  border-radius: 2px 2px 0 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.TabsNewS label:hover {
  background: #ffff00;
}
.TabsNewS .tab-content {
    font-family: Tahoma;
    font-size: 12px;
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  line-height: normal;
  padding: 10px;
  position: absolute;
  top: 31px;
  right: 0;
  color: #FFF;
  background: #2d2d2d;
}
.TabsNewS [id^="tab"]:checked + label {
  top: 0;
  padding-top: 10px;
  background: #92d050;
}
.TabsNewS [id^="tab"]:checked ~ [id^="tab-content"] {
  display:block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}